.elementHighlight {
   position: absolute;
   width: 200px;
   height: 200px;
   border: 4px solid #ffc000;
   pointer-events: none !important;
   z-index: 99999;
}

.highlightColorCycle { 
   -webkit-animation-name: highlightCycle; 
   -webkit-animation-duration:0.8s; 
   -webkit-animation-direction:alternate; 
   -webkit-animation-iteration-count:infinite; 
}   

@-webkit-keyframes highlightCycle 
{ 
   0% { border-color: rgba(255, 192, 0, 0.0); }
   100% { border-color: rgba(255, 192, 0, 1.0); }
}