#unitFrame {
   border-width: 10px 10px 20px 10px;
   width: 800px;
   height: 177px;
   position: absolute;
   bottom: 16px;
   left: 10px;

   #buffs {
      position: absolute;
      top: 24px;
      left: 6px;

      .item {
         float: left;
         width: 46px;

         height: 51px;
         img {
            width: 46px;
            height: 51px;
         }
      }

   }

   #info {
      .controlFont;
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 324px;
      height: 98px;
      background: url('./images/bg.png');
      font-size: 32px;
      line-height: 26px;
      text-align: center;

         .name {
            padding-top: 24px;
            font-size: 24px;
         }

         .description {
         font-size: 18px;
         color: @controlLightFontColor;
      }
   }

   #commandButtons {
      position: absolute;
      bottom: 0px;
      left: 330px;
      width: 400px;

      .commandButton {
         position: relative;
         float: left;
         width: 93px;
         height: 98px;
         background: url('./images/command_button_bg.png');
         border: 0px;
         margin-right: 8px;

         img {
            width: 90px;
         }

         .active {
            background: red !important;
         }

         #hotkey {
            .hotkey;
            position: absolute;
            bottom: 15px;
            right: 12px;
         }
      }

      .buttonEnabled {
         opacity: 1;
      }

      .buttonDisabled {
         opacity: 0.6;
      }

   }
}