#unitFrame {
   position: absolute;
   bottom: 0px;
   left: 10px;
   height: 100px;
   z-index: 9;
   //-webkit-transform: scale(0.5,0.5);

   #buffs {
      position: absolute;
      top: -32px;
      left: 154px;
      width: 300px;

      .item {
         float: left;
         width: 40px;
         height: 100%px;
         margin-right: 4px;

         img {
            width: 40px;
         }
      }
   }


   #info {
      .controlFont;
      position: absolute;
      left: 0px;
      bottom: 0px;
      height: 62px;
      background: #322f28;
      border-width: 8px 8px 8px 8px;
      border-image: url(./images/bg_border.png) 8 8 8 8 repeat;
      width: 550px;

      font-size: 30px;
      //line-height: 26px;
      text-align: left;

      .inner {
         position: relative;
         top: -16px;
         left: 12px;
         
         #portrait {
            .button;
            display: inline-block;
            position:relative;
            top: -40px;
            left: -16px;
            margin-right: -20px;
            width: 128px;
            height: 128px;

            img {
               width: 128px;
               height: 128px;
            }
         }

         #jobButton {
            .button;
            display: inline-block;
            vertical-align: top;
            margin-top: -6px;
            margin-left: -6px;
            margin-bottom: -50px;

            img {
               width: 50px;
               height: 50px;
            }
         }

         #nameBlock {
            display: inline-block;
            vertical-align: top;
         }

         .name {
            display: inline-block;
            .button;
            font-size: 27px;
         }

         .description {
            padding-top: 4px;
            font-size: 16px;
            color: #a8935d;
         }
      }
   }

   #commandButtons {
      .nobr;
      position: absolute;
      top: 0px;
      right: 8px;

      .commandButton {
         position: relative;
         top: -20px;
         width: 70px;
         height: 76px;
         background: url(images/command_button_bg.png);
         border: 2px solid #000;
         margin-left: 4px;

         img {
            width: 69px;
         }

         .active {
            background: red !important;
         }

         #hotkey {
            .hotkey;
            position: absolute;
            bottom: 6px;
            right: 6px;
         }
      }

      .buttonEnabled {
         opacity: 1;
      }

      .buttonDisabled {
         opacity: 0.6;
      }

      #inventory {
         .controlFont;
         position: relative;
         top: -6px;
         width: 69px;
         height: 76px;
         display: inline-block;
         background: url(images/inventory_icon.png);
         text-align: center;
         vertical-align: bottom;
         color: #fff;

         div {
            position: absolute;
            font-size: 16px;
            bottom: 0px;
            width: 69px;
         }

         #full {
            color: #ff0000;
         }
      }
   }
}