@charset "utf-8";
/* CSS Document */

::selection {
	background: #ffb7b7; /* Safari */
   color: red;
	}
::-moz-selection {
	background: #ffb7b7; /* Firefox */
   color: red;
}

fieldset {
   margin: 0;
   padding: 5px 0px 10px 0px;
   border: 0;
}

   fieldset legend {
      font-weight: bold;
      font-size: 20px;
      position: relative;
      width: 100%;
      left: -4px;
   }

input[type=text] {
   font-family: 'teen';
   //font-size: 16px;
   color: #fff;
   border: 2px solid #000;
   background: url(images/input/text.png) 0 0px repeat-x;
   padding: 6px;
   width: 200px;
   outline: none;
}

   input[type=text].search {
      background-image: url(images/input/search.png), url(images/input/text.png);
      background-position: right center, left top;
      background-repeat: no-repeat, repeat-x;
   }

   input[type=text].namefield {
      background: none;
      border: 2px solid rgba(0, 0, 0, 0);
      font-family: 'Lemiesz Ex';
      font-size: 26px;
      color: #ffed8c;
      text-shadow: -2px -2px 0px #000, 0px -2px 0px #000, 2px -2px 0px #000, -2px 0px 0px #000, 2px 0px 0px #000, -2px 2px 0px #000, 0px 2px 0px #000, 2px 2px 0px #000;
      width: auto;
      text-align: center;
   }

      input[type=text].namefield:hover, input[type=text].namefield:focus {
      background: rgba(0,0,0,0.3);
      background-clip: padding-box;
      font-family: 'Lemiesz Ex';
      border-color: #000;
      //border-width: 16px;
      //border-image: url(images/input/namefield-edit-hover.png) 16 16 16 16 repeat;
   }


label + p,
input + p {
   margin-top: 20px;
}


input[type=checkbox] {
   padding: 0;
   margin: 0;
   float: left;
   position: absolute;
   left: 0;
   opacity: 0;
}

input[type=radio] {
   padding: 0;
   margin: 0;
   float: left;
   position: absolute;
   left: 0;
   opacity: 0;
}

label {
   line-height: 32px;
   -webkit-transition: color 0.2s ease;
   padding: 0 8px 0 0;
}

input + label {
   padding: 0 10px 0 36px;
}

fieldset[dir=rtl] label {
   padding: 0 18px 0 0;
}

input:hover + label, input:focus + label,
input + label:hover, input:focus + label {
   color: #ffed8c;
}

input:disabled + label {
   opacity: 0.5;
}

input + label {
   height: 32px;
   display: inline-block;
   background-clip: padding-box;
}

input[type=checkbox] + label {
   background: url(images/input/checkbox.png) 0 0px no-repeat;
   background-size: 32px 256px;
}

input[type=radio] + label {
   background: url(images/input/radio.png) 0 0px no-repeat;
   background-size: 32px 256px;
}

/* Checked styles */
input[type=radio]:checked + label,
input[type=checkbox]:checked + label {
   background-position: 0 -128px;
}

   input[type=radio]:hover:checked + label,
   input[type=radio]:focus:checked + label,
   input[type=radio]:checked + label:hover,
   input[type=radio]:focus:checked + label,
   input[type=checkbox]:hover:checked + label,
   input[type=checkbox]:focus:checked + label,
   input[type=checkbox]:checked + label:hover,
   input[type=checkbox]:focus:checked + label {
      background-position: 0 -160px;
   }

/* Hover & Focus styles */
input[type=radio]:hover + label,
input[type=radio]:focus + label,
input[type=radio] + label:hover,
input[type=checkbox]:hover + label,
input[type=checkbox]:focus + label,
input[type=checkbox] + label:hover {
   background-position: 0 -32px;
}

   /* Active styles */
   input[type=radio]:active + label,
   input[type=radio] + label:hover:active,
   input[type=checkbox]:active + label,
   input[type=checkbox] + label:hover:active {
      background-position: 0 -64px;
   }

input[type=radio]:active:checked + label,
input[type=radio]:checked + label:hover:active,
input[type=checkbox]:active:checked + label,
input[type=checkbox]:checked + label:hover:active {
   background-position: 0 -192px;
}

/* Disabled styles */
input[type=radio]:disabled + label,
input[type=radio]:hover:disabled + label,
input[type=radio]:focus:disabled + label,
input[type=radio]:disabled + label:hover,
input[type=radio]:disabled + label:hover:active,
input[type=checkbox]:disabled + label,
input[type=checkbox]:hover:disabled + label,
input[type=checkbox]:focus:disabled + label,
input[type=checkbox]:disabled + label:hover,
input[type=checkbox]:disabled + label:hover:active {
   background-position: 0 -96px;
}

input[type=radio]:disabled:checked + label,
input[type=radio]:hover:disabled:checked + label,
input[type=radio]:focus:disabled:checked + label,
input[type=radio]:disabled:checked + label:hover,
input[type=radio]:disabled:checked + label:hover:active,
input[type=checkbox]:disabled:checked + label,
input[type=checkbox]:hover:disabled:checked + label,
input[type=checkbox]:focus:disabled:checked + label,
input[type=checkbox]:disabled:checked + label:hover,
input[type=checkbox]:disabled:checked + label:hover:active {
   background-position: 0 -224px;
}

/*
::-webkit-scrollbar {
	width: 16px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	 background-color: rgba(0,0,0,0.5);
    //border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    //border-radius: 10px;
	 background-color:#766b52;
    //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
*/
