// common styles for all construction tools are in /ui/game/modes/build_mode/build_mode.less
#stonehearthBuildRoads {
   #overview {
      display: none;
   }

   #editor {
      #tools {
         #drawRoadTool {
            background-image: url(images/add_road_tool.png);
         }

         #eraseRoadTool {
            background-image: url(images/remove_road_tool.png);
         }
      }
   }
}