#citizenCharacterSheet {
   position: absolute;
   top: 10px;
   left: 10px;
   width: 724px;
   height: 900px;
   z-index: 999;
  
   #glass {
      .controlFont;
      position: absolute;
      top: 20px;
      right: 10px;
      width: 271px;
      height: 333px;
      background-image: url(images/glass.png);
      color: #fff;
      font-size: 50px;
      text-shadow: -4px -4px 0px #000, 0px -4px 0px #000, 4px -4px 0px #000, -4px 0px 0px #000, 4px 0px 0px #000, -4px 4px 0px #000, 0px 4px 0px #000, 4px 4px 0px #000;
      text-align: center;
      pointer-events: none;

      #mind {
         position: absolute;
         left: 30px;
         top: 75px;
         width: 100px;
      }

      #body {
         position: absolute;
         top: 75px;
         left: 135px;
         width: 100px;
      }

      #spirit {
         position: absolute;
         top: 175px;
         left: 80px;
         width: 100px;
      }
   }

   #header {
      .outlined;
      position: absolute;
      top: 68px;
      left: 30px;
      font-family: @headerFontFamily;
      color: #fff;

      #name {
         .outlined;
         font-family: @headerFontFamily;
         background: rgba(0,0,0,0.0);
         color: #ffc000;
         font-size: 36px;
         width: 400px;
         border: 0px;
         position: relative;
         left: -10px;
      }      

      #description {
         color: #ffe850;
         font-size: 26px;
         height: 74px;
         margin-left: -20px;
         margin-top: -10px;

         .classIconImg {
            float: left;
         }

         .classNameLvlDesc {
            padding-top: 20px;
            display: block;
         }
       }

      #stats {
         .baseFont;
         .outlined;
         color: #fff;

         #experienceStat {
            
         }

         .stat {
            padding-top: 20px;

            .label {
               width: 120px;
               display: inline-block;
            }

            .bar {
               position: relative;
               width: 200px;
               height: 15px;
               display: inline-block;
               border: 3px solid #000;
               background: #1f282e;
               text-align: right;

               .value {
                  position: absolute;
                  right: 4px;
                  top: -10px;
                  font-size: 16px;
               }
            }

            .maxLevelNotice {
               position: relative;
               display: inline-block;
               width: 200px;
               font-family: @headerFontFamily;
               font-size: 20px;
               color: #ffe850;
            }

            .healthBar {
               background: #b13b2e;
               height: 100%;
            }

            .moraleBar {
               background: #1575ca;
               height: 100%;
            }

            .expBar {
               background: #42d00e;
               height: 100%;
            }

         }
      }
   }

   #buffs {
      position: absolute;
      top: 340px;
      left: 10px;
      right: 10px;
      height: 70px;
      background: rgba(255,0,0,0.0);

      .item {
         display: inline-block;
         margin-right: 4px;
      }
   }

   #details {
      position: absolute;
      top: 400px;
      left: 10px;
      right: 10px;
      bottom: 10px;

      .tabPage {
         position: absolute;
         top: 0px;
         left: 0px;
         right: 0px;
         bottom: 0px;
         padding: 0px 10px 10px 10px;
         overflow-y: auto;
         vertical-align: top;

         h2 {
            color: #84754f;
            font-size: 26px;
         }
      }

      #equipmentTab {
         overflow: hidden;

         .slot {
            display: inline-block;
            padding: 4px;

            img {
               width: 100%;
            }
         }
      
         #slots {
            position: absolute;
            top: 100px;
            left: 70px;

            #mainhandSlot {
               position: absolute;
               top: 40px;
               left: 0px;
               width: 125px;
               height: 125px;
            }

            #offhandSlot {
               position: absolute;
               top: 40px;
               left: 436px;
               width: 125px;
               height: 125px;
            }

            #torsoSlot {
               position: absolute;
               top: 0px;
               left: 165px;
               width: 230px;
               height: 230px;
            }
         }
      }

      #moraleTab {
         display: none;
      }

      #attributesTab {
         display: none;
      }

      #abilitiesTab {
         display: none;
         overflow-y: auto;

         .retiredEffect {
            -webkit-filter: grayscale(75%);                          
         }
         
         .jobData {
            margin-top: 5px;
            color: #ffe850;
            width: 690px;
            display: none;

            .levelText {
               color: #ff5a00;
            }

            .activeClassNameHeader {
               font-family: @headerFontFamily;
               font-size: 26px;
               color: #ffe850;
            }

            .retiredClassNameHeader {
               font-family: @headerFontFamily;
               font-size: 16px;
               color: gray; 
            }

            .perkDiv {
               float: left;
               margin-right: 10px;

               img {
                  float: left;
               }
               .perkImgLocked {
                  -webkit-filter: grayscale(75%);
               }
               .perkImgUnlocked {
                  -webkit-filter: grayscale(0%);
               }

               .levelLabel {
                  position: absolute;
                  width: 80px;
                  padding-top: 60px;
                  display: block;

                  text-align: center;
                  font-size: 14;
                  font-family: @headerFontFamily;
               }

               .lvLabelUnlocked {
                  -webkit-filter: grayscale(0%);
               }
               .lvLabelLocked {
                  -webkit-filter: grayscale(75%);
               }
            }
         }
         
         
      }
   }

   #infoTable {
      display: none;
      position: absolute;
      top: 240px;
      left: 70px;
      right: 370px;
      font-size: 15px;
   }

   table {
      width: 100%;
      border-collapse:collapse;

      td {
         vertical-align: top;
         padding: 4px;
      }

      td:first-of-type {
      }

      td:nth-of-type(2) {
         .outlined;
         color: #fff;
         text-align: right;
      }

      tr:nth-child(even) {
         background: rgba(0,0,0,0.1);
      }
   }

   #journal {
      font-size: 15px;

      .scoreIndicator {
         float: left;
         width: 46px;
         height: 51px;
         margin-right: 10px;
      }

      .goodEntry {
         background-image: url('./images/score_up.png');
      }

      .badEntry {
         background-image: url('./images/score_down.png');
      }

      .entry {
         .entryTitle {
            font-size: 16px;
         }

         .date {
            font-style: italic;
         }         
      }

      #entries {
         font-size: 11px;
      }
   }

   .buffedValue{
      color: green;
   }

   .debuffedValue {
      color: red;
   }

   .normalValue {
      color: white;
   }

   #tabs {
      position: absolute;
      bottom: -67px;
   }

}

.attributeTooltip {
   h2 {
      margin-top: 5px;
   }
   p {
      padding: 0px;
      margin: 0px;
   }
}

.buffTooltip {
   .outlined;
   font-size: 12px;
   margin-top: 10px;

   .buffTooltipImg {
      width: 29px;
      height: 32px;
      vertical-align: middle;
   }

   .buffTooltipText {
      margin-bottom: 3px;
   }

   .dataSpan {
      margin-top: 5px;
      padding-left: 15px;
      padding-top: 2px;

      float: right; 

      vertical-align: middle;
      background-repeat:no-repeat;
      background-position:left; 
   }

   .debuffDataSpan {
      margin-left: 8px;
      background-image: url('./images/debuff_arrow.png');
      color: red;
   }

   .buffDataSpan {
      margin-left: 8px;
      background-image: url('./images/buff_arrow.png');
      color: green;
   }
}

.lockedTooltipLabel {
   color: gray;
}