#citizenCharacterSheet {
   position: absolute;
   top: 10px;
   left: 10px;
   width: 764px;
   height: 930px;
   background: url('./images/bg.png');

   .date {
      font-style: italic;;
   }
   
   #header {
      position: absolute;
      top: 340px;
      left: 70px;
      font-family: @headerFontFamily;
      color: #473c28;

      #name {
         font-family: @headerFontFamily;
         background: rgba(0,0,0,0.0);
         color: #3d3420;
         font-size: 36px;
         width: 400px;
         border: 0px;
         position: relative;
         left: -10px;
      }      

      #description {
         font-size: 26px;
      }
   }

   #glass {
      .controlFont;
      position: absolute;
      top: 105px;
      left: 440px;
      color: #fff;
      font-size: 50px;
      text-shadow: -4px -4px 0px #000, 0px -4px 0px #000, 4px -4px 0px #000, -4px 0px 0px #000, 4px 0px 0px #000, -4px 4px 0px #000, 0px 4px 0px #000, 4px 4px 0px #000;
      text-align: center;
      

      #mind {
         width: 100px;
      }

      #body {
         position: absolute;
         top: 0px;
         left: 110px;
         width: 100px;
      }

      #spirit {
         position: absolute;
         top: 100px;
         left: 50px;
         width: 100px;
      }
   }

   .content {
      h2 {
         color: #000;
         text-shadow: none;
         margin: 6px 0px;
      }
   }

   .column1 {
      position: absolute;
      top: 467px;
      left: 78px;
      width: 275px;
   }

   .column2 {
      position: absolute;
      top: 467px;
      left: 407px;
      width: 275px;      
   }

   table {
      width: 100%;
      border-collapse:collapse;

      td {
         vertical-align: top;
         padding: 4px;
      }

      td:first-of-type {
      }

      td:nth-of-type(2) {
         .outlined;
         color: #fff;
         text-align: right;
      }

      tr:nth-child(even) {
         background: rgba(0,0,0,0.1);
      }
   }

   #persona {
      font-size: 15px;

      #latestJournal {
         font-size: 11px;
      }
   }

   #attributes {
      font-size: 15px;

      .value {
      }

      .value:first-letter {
         //font-size: 20px;
         //font-weight: bold;
      }
   }

   .buffedValue{
      color: green;
   }

   .debuffedValue {
      color: red;
   }

   .normalValue {
      color: white;
   }

   #group {
      padding-bottom: 16px;

      .name {
         float: left;
      }
      .value {
         float: right;
      }

      .clear {
         content: '.';
         display: block;
         clear: both;
         visibility: hidden;
      }         
   }  
}

.buffTooltip {
   .outlined;
   font-size: 12px;

   .buffTooltipImg {
      width: 29px;
      height: 32px;
      vertical-align: middle;
   }

   .buffTooltipText {
      margin-bottom: 3px;
   }

   .dataSpan {
      margin-top: 5px;
      padding-left: 15px;
      padding-top: 2px;

      float: right; 

      vertical-align: middle;
      background-repeat:no-repeat;
      background-position:left; 
   }

   .debuffDataSpan {
      margin-left: 8px;
      background-image: url('./images/debuff_arrow.png');
      color: red;
   }

   .buffDataSpan {
      margin-left: 8px;
      background-image: url('./images/buff_arrow.png');
      color: green;
   }
}