#bugbase {
   .controlFont;
   position: absolute;
   bottom: 40px;
   right: 4px;
   width: 70px;
   height: 75px;
   background-image: url(images/bugbase.png)
}

#filebug {
   position: absolute;
   left: 10px;
   top: 10px;
   width: 500px;
   height: 950px;

   #buttons {
      position: absolute;
      left: 10px;
      bottom: 10px;
   }

   input {
      width: 420px;
   }

   textarea {
      width: 420px;
   }

   .label {
      margin-bottom: 5px;
   }
}
