[submodule "modules/chromium-embedded"]
	path = modules/chromium-embedded
	url = https://github.com/radent/chromium-embedded.git
   ignore = dirty
[submodule "protobuf-2.5.0"]
	path = protobuf-2.5.0
	url = https://github.com/radent/protobuf-2.5.0.git
   ignore = dirty
