#postBugView {
   margin: auto;
   min-width: 500px;
   max-width: 800px;

   #buttons {
      .nobr;
      text-align: right;
   }

   #userId {
      font-face: bold;
      text-align: center;
      width: 350px;
   }
}
