#itemPalette {
   position: absolute;
   left: 10px;
   top: 10px;
   bottom: 160px;
   
   width: 424px;

   .pickerGrid {

      .pickable_item {
         position: relative;
         width: 50px;
         height: 50px;
         float: left;
         margin-right: 4px;
         margin-bottom: 4px;
         padding: 10px;
         border: 2px solid rgba(255,255,255,0.2);

         .pickable_image {
            width: 50px;
            height: auto;
         }

         .num_pickable {
            .controlFont;
            position: absolute;
            bottom: 4px;
            right: 4px;
            z-index: 4;
            color: white;
         }
      }

      .placementDiv {
         margin-top: 40px;
         text-align: center;
      }
   }



}