#stonehearthPlaceItem {
   position: absolute;
   left: 10px;
   top: 10px;
   bottom: 160px;
   width: 424px;

   #items {
      margin-top: 20px;
      overflow-y: auto;
      height: 1091px;
   }
}

#stonehearthPlaceItemPicker {
   overflow-y: auto;
   overflow-x: hidden;

   #searchInput {
      width: 100%;
   }
}