      <!-- Terrain image map -->
      <map id="sidebar-map-terrain" name="sidebarmap-terrain">
      </map>

      <!-- Terrain header images -->
      <img class="sidebar-header-image" src="/css/default/images/views/sidebar/terrain-bg.png" />
      <img class="sidebar-header-image sidebar-part-hover" id="sidebar-terrain-hover" />
      <img class="sidebar-header-image sidebar-part-selected" id="sidebar-terrain-selected" />
      <img class="sidebar-header-image" src="/css/default/images/views/sidebar/terrain-outline.png" />

      <!-- Imagemap selector image -->
      <img class="sidebar-header-image" id="sidebar-terrain-selector"
         src="/css/default/images/views/sidebar/imagemap-helper.png" usemap="#sidebar-map-terrain" />

      <!-- Terrain sub tabs -->
      <div id="sidebar-subtab-mine" class="sidebar-subtab">
         <h1>Mine</h1>
      </div>
      <div id="sidebar-subtab-landscape" class="sidebar-subtab">
         <h1>Landscape</h1>
      </div>
      <div id="sidebar-subtab-plant" class="sidebar-subtab">
         <h1>Plant</h1>
      </div>
