body {
	background-color: white;
	font-family: "Inconsolata", "Consolas", "Tahoma";
	font-size: 12px;
}

table{
	width: 100%;
	border-collapse: collapse;
}

th {
   text-align: center;   
}

td {
	font-size: 12px;
	text-indent:5px;
	color:#444;
	margin: 0;
	padding: 0;
	border: 1px solid #bbb;
}

li {
	display: inline;
}

.graph {
    width: 100%;
    position: relative;
}
#bar {
	height: 6px;
    background: orange;
}
#bar p { position: absolute; text-align: center; width: 100%; margin: 0; line-height: 6px; }