#embark {
   position: relative;
   margin: auto;
   width: 1920px;
   height: 1080px;
   background: url('./images/bg.png');
   color: #fff;
   padding: 0px;

   #citizens {
      position: absolute;
      top: 158px;
      left: 104px;
      width: 1080px;
      height: 730px;
      color: #000;

      #citizenInfoTitle {
         font-family: @headerFontFamily;
         font-size: 38px;
         margin-left: 22px;
         margin-bottom: 12px;
      }
   }

   #embarkShop {
      position: absolute;
      top: 130px;
      left: 1264px;
      color: #000;
      width: 610px;
      height: 860px;
      
      #shopTitle {
         .controlFont;
         font-size: 37px;
         margin-left: 10px;
         float: left;
      }
      #playerGold {
         .controlFont;
         font-size: 37px;
         float: right;
         background-image: url(/stonehearth/ui/game/bulletin/bulletin_dialog/shop_bulletin_dialog/images/gold.png);
         background-position: right bottom;
         background-repeat: no-repeat;
         padding-right: 30px;
      }
      #resetButton {
         position: absolute;
         bottom: 0px;
         right: 100px;
      }
      #shopItems {
         position: absolute;
         left: 0px;
         top: 60px;
         width: 100%;
         border: 2px solid #000;
         background: #171616;
      }
   }

   #title {
      .controlFont;
      font-size: 32px;
      padding: 20px;
   }

   #regenerateButton {
      .control;
      position: absolute;
      top: 900px;
      left: 56px;
      height: 114px;
      padding-left: 180px;
      padding-top: 10px;
      font-size: 35px;
      color: #f5eed6;
      text-align: right;      
      line-height: 114px;
   }

   #embarkButton {
      position: absolute;
      top: 800px;
      left: 1000px;
   }
}

.embarkItem {
   //display: block !important;

   margin-right: 20px !important;

   div.num {
      display: none; 
   }

   div.cost {
      position: absolute;
      bottom: 20px;
      right: -6px;
      font-family: @controlFontFamily;
      font-size: 16px;
      color: #eccd39;  
   }
}

h2 {
  padding-left: 2px;
  right:0px;
}