#embark {
   position: relative;
   margin: auto;
   width: 1920px;
   height: 1080px;
   background: url('./images/bg.png');
   color: #fff;
   padding: 0px;

   #citizens {
      position: absolute;
      top: 150px;
      left: 100px;
      width: 1000px;
      color: #000;

      #citizenInfoTable {
         padding-top: 20px;

         .portrait {
            width: 64px;
            height: 64px;
         }
      }
   }

   #embarkShop {
      position: absolute;
      top: 368px;
      left: 1264px;
      color: #000;
      width: 428px;
      height: 550px;

      #buyPallet {
         position: absolute;
         top: 8px;
         bottom: 88px;
         left: 0px;
         right: 10px;
      }

      #playerGold {
         position: absolute;
         bottom: 16px;
         left: 16px;
         background-image: url(/stonehearth/ui/game/bulletin/bulletin_dialog/shop_bulletin_dialog/images/gold.png);
         background-position: right bottom;
         background-repeat: no-repeat;
         padding-right: 30px;
      }

      #shopButtons {
         position: absolute;
         right: 10px;
         bottom: 10px;
      }
   }

   #title {
      .controlFont;
      font-size: 32px;
      padding: 20px;
   }

   #regenerateButton {
      .control;
      position: absolute;
      top: 900px;
      left: 56px;
      height: 114px;
      padding-left: 180px;
      padding-top: 10px;
      font-size: 35px;
      color: #f5eed6;
      text-align: right;      
      line-height: 114px;
   }

   #embarkButton {
      position: absolute;
      top: 800px;
      left: 1000px;
   }
}

.embarkItem {
   //display: block !important;

   margin-right: 20px !important;

   div.num {
      display: none; 
   }

   div.cost {
      position: absolute;
      bottom: 20px;
      right: -6px;
      font-family: @controlFontFamily;
      font-size: 16px;
      color: #eccd39;  
   }
}

h2 {
  padding-left: 2px;
  right:0px;
}