.stonehearthMap {
   cursor: none; 

   table {

      border-collapse: collapse;

      td {
         padding: 0px;
      }
   }

   .cell {
      position: relative;
      padding: 0px;
      width: 10px;
      height: 10px;

      div {
         position: absolute;
         left: 0px;
         top: 0px;
         width: 10px;
         height: 10px;
      }


      .overlay {
         &:hover {
            background: rgba(255, 128, 0, 0.5);
         }
      }

      img {
         position: absolute;
         left: 0px;
         top: 0px;
         width: 10px;
         height: 10px;
         opacity: 0.6;
      }

   }

   img {
      opacity: 0.6;
   }

   .plains_1 {
      background: #927e59;
   }

   .plains_2 {
      background: #948a48;
   }

   .foothills_1 {
      background: #888a4a;
   }

   .foothills_2 {
      background: #888a4a;
   }

   .mountains_1 {
      background: #807664;
   }

   .mountains_2 {
      background: #888071;
   }

   .mountains_3 {
      background: #948d7f;
   }

   .mountains_4 {
      background: #aaa59b;
   }

   .mountains_5 {
      background: #c5c0b5;
   }

   .mountains_6 {
      background: #d9d5cb;
   }

   .mountains_7 {
      background: #f2eee3;
   }

   .forest0 {
      content: url(images/forest0.png);
   }

   .forest1 {
      content: url(images/forest1.png);
      //background: rgba(42, 87, 42, 0.2);
   }

   .forest2 {
      content: url(images/forest2.png);
      //background: rgba(42, 87, 42, 0.4);
   }

   .forest3 {
      content: url(images/forest3.png);
      //background: rgba(42, 87, 42, 0.6);
   }

   .forest4 {
      content: url(images/forest4.png);
      //background: rgba(42, 87, 42, 0.8);
   }

   .t0000 {
      content: url(images/0000.png);
   }

   .t1000 {
      content: url(images/1000.png)
   }

   .t0100 {
      content: url(images/0100.png)
   }

   .t1100 {
      content: url(images/1100.png)
   }

   .t0010 {
      content: url(images/0010.png)
   }

   .t1010 {
      content: url(images/1010.png)
   }

   .t0110 {
      content: url(images/0110.png)
   }

   .t1110 {
      content: url(images/1110.png)
   }

   .t0001 {
      content: url(images/0001.png)
   }

   .t1001 {
      content: url(images/1001.png)
   }

   .t0101 {
      content: url(images/0101.png)
   }

   .t1101 {
      content: url(images/1101.png)
   }

   .t0011 {
      content: url(images/0011.png)
   }

   .t1011 {
      content: url(images/1011.png)
   }

   .t0111 {
      content: url(images/0111.png)
   }

   .t1111 {
      content: url(images/1111.png)
   }
}