#errorDialogjs {
   position: absolute;
   top: 100px;
   background: #4a2121;
   border: 3px solid #000;
   padding: 10px;
}

#errorDialog {
    .debug;
    -webkit-user-select: all;
}

#bottom {
   width: 100%;
   padding-top: 12px;
   text-align: right;
   #copyButton {
      display: inline-block;
      text-align: right;
   }
   #f5_hint {
      margin-top: 24px;
      margin-left: 5px;
      float: left;
   }
}
