#immigrationReportBulletinDialog {
   
   .window {
      height: 720px;
      width: 800px;
      max-height: 800px;
   }

   #title {
      text-align: center;
      font-size: 35px;
   }
   #date {
      text-align: center;
      margin-top: 0px;
      margin-bottom: 20px;
   }

   #requirementsSectionDiv {
      height: 340px;
      padding-top: 30px;

      border-style: solid;
      border-width: 10px;
      border-color: #7b6a4b;

      text-align: center;

      h1 {
         font-size: 26px;
      }
   }
   
   #populationNumberLabel {
      .outlined;
      color: #ffc000;
   }

   #requirementsLabel {
      margin-bottom: 30px;
   }

   .requirementBlock {
      float: left;
      margin-right: 75px;
   }
   
   .requirementImage {
      height: 111px;
      width: 111px;
   }

   #foodBlock {
      margin-left: 100px;
   }

   #foodImageDiv {
      background-image: url(images/foodCriteria.png);
   }
   #moraleImageDiv {
      background-image: url(images/moraleCriteria.png);
   }
   #netWorthImageDiv {
      background-image: url(images/netWorthCriteria.png);
   }

   .statusDiv {
      margin-top: -50px;
      margin-left: 60px;
      width: 65px;
      height: 60px;
      visibility : hidden;
   }

   .passed {
      background-image: url(images/greenCheck.png);
   }

   .failed {
      background-image: url(images/redX.png);   
   }

   .successText {
      color: #6bf10d;
   }
   .failedText {
      color: #c21b00;
   }

   .requirementLabel {
      .control;
      color: white;
      text-align: center;
      margin-top: 10px;
   }
   .requirementDetails {
      .control;
      color: white;
      text-align: center;
      margin-top: 10px;
   }

   #conclusionDiv {
      text-align:center;
      margin-top: 20px;
      margin-bottom: 20px;
      visibility: hidden;
   }

   .callbackButton {
      width: 300px;
      margin-top: 10px;
      text-align:center;
   }
}