#craftWindow.carpenter {
   background: url('skin.png');

   #craftButton {
      position: absolute;
      right: 10px;
      top: -50px;

      img {
         content: url('saw.png') !important;
      }
   }
}


