#escMenu {
   .gui;
   position: absolute;
   width: 300px;

   button {
      display: block;
      width: 100%;
      margin-top: 6px;
      margin-bottom: 6px;
   }

   #resumeButton {
      margin-bottom: 26px;
   }
}