#itemPicker {

   position: absolute;
   right: 95px;
   bottom: -1000px;
   min-height: 100px;
   max-height: 700px;
   width: 450px;

   background: #417cb9;
   background-clip: padding-box;
   border-width: 10px 10px 15px 10px;
   border-image: url(./images/menuBorder.png) 10 10 15 10 repeat;

   .pickerGrid {

      .pickable_item {
         width: 70px;
         height: 85px;
         float: left;
         margin-left: 15px;

         .pickable_image {
            width: 70px;
            height: auto;
            position: relative;
            top: -15px;
         }

         .num_pickable {
            position: relative;
            left: 60px;
            top: 55px;
            z-index: 4;
            .controlFont;
            color: white;
         }
      }

      .placementDiv {
         margin-top: 40px;
         text-align: center;
      }
   }



}