#loadingScreen {
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   background: rgba(0,0,0,1.0);
   color: #fff;
   padding: 20px;
   display: flex;


   #controls {
      position: absolute;
      left: 560px;
      bottom: 80px;
      width: 800px;

      #progressbar {
         width: 100%;
      }
   }
}
