#main-menu-tabs {
   height: 98%;
}

#main-menu-keybindings {
   max-height: 550px;
   overflow-x: hidden;
   overflow-y: auto;
}

#main-menu-keybindings label {
   padding-left: 20px;
}

#main-menu-keybindings input {
   margin-left: 20px;
   width: 50px;
   text-align: center;
}


