#actionController {
   .outlined;
   position: absolute;
   left: 10px;
   right: 10px;
   top: 400px;

   .player {
      .controlFont;
      font-size: 16px;
      border: 3px solid #000;
      background: rgba(0,0,0,0.5);
      padding: 10px;
      color: #fff;

      td {
         padding-left: 10px;
      }
   }

   #p1 {
      position: absolute;
      left: 0;
      top: 0;
   }

   #p2 {
      position: absolute;
      right: 0px;
      top: 0px;
   }
}