.bulletinDialog {
   #scroll {
      background-image: none;
   }

   table {
      td.itemName {
         width: 100%;
      }
   }

   #inventory {
      position: absolute;
      top: 100px;
      bottom: 100px;
      left: 10px;
      right: 10px;
   }

   #shopButtons {
      position: absolute;
      right: 10px;
      bottom: 10px;
   }
}
