#shopBulletinDialog {

   #top {
      position: relative;
      height: 70px;
      padding-top: 10px;
      vertical-align: bottom;

      div {
         display: inline-block;
      }

      #shopTitle {
         position: relative;
         top: 26px;
         left: 8px;
      }

      #modeButtons {
         position: absolute;
         right: -4px;
      }

   }

   table {
      td.itemName {
         width: 100%;
      }
   }

   #inventory {
      position: absolute;
      top: 150px;
      bottom: 100px;
      left: 10px;
      right: 10px;

      td:first-of-type {
         div {
            position: relative;
            top: -20px;
            display: inline-block;
         }
      }

      td {
         .nobr;
         padding-right: 10px;
      }

      td.cost {
         text-align: left;
         background-image: url(images/gold.png);
         background-position: right center;
         background-repeat: no-repeat;
         padding-right: 30px;
      }

      td.num {
         padding-left: 20px;
         text-align: right;
      }
   }

   .inventoryList {
      overflow-y: auto;
      height: 407px;
      margin-top: 15px;
   }

   .shopButtons {
      position: absolute;
      right: 10px;
      bottom: 10px;
   }

   #playerGold {
      position: absolute;
      bottom: 16px;
      left: 16px;
      background-image: url(images/gold.png);
      background-position: right bottom;
      background-repeat: no-repeat;
      padding-right: 30px;

   }

   .goldText {
      color: #eccd39;
   }

   .tabPage {
      position: relative;
      height: 500px;
      margin-top: -8px;
      margin-left: 10px;
      display: none;
   }

   #tabs {
      position: absolute;
      bottom: -70px;
   }
}

.shopItem {
   //display: block !important;

   margin-right: 20px !important;

   div.cost {
      position: absolute;
      bottom: 20px;
      right: -6px;
      font-family: @controlFontFamily;
      font-size: 16px;
      color: #eccd39;  
   }
}