#campaignBrowserIcon {
   .debugDockIcon;
   background: url('./images/icon.png');
}

#game_master {
   .debug;
   position: absolute;
   top: 10px;
   left: 720px;
   min-width: 250px;
   //font-family: "Consolas";

   input {
      width: 130px;
      font-size: 10px;
      color: #000;
      background: #fff;
      padding: 0 0 0 4px;
      border: 1px solid #333;
   }

   .button {
      position: relative;
      top: -6px;
   }

   .game_master {
      margin: 1px;
      padding: 1px;
      border: 1px solid red;
   }
   .campaign {
      margin: 1px;
      padding: 1px;
      border: 1px solid orange;
   }
   .arc {
      margin: 1px;
      padding: 1px;
      border: 1px solid yellow;
   }
   .encounter {
      margin: 1px;
      padding: 1px;
      border: 1px solid green;
   }

   #collapse {
      position: absolute;
      top: 8px;
      right: 4px;
   }
}
