#buildMode {
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   bottom: 0px;
   border-width: 100px;
   border-image: url('../images/mode_border.png') 50 50 50 50 repeat;
   display: flex;
}