#buildMode {
   width: 100%;
   border-width: 50px;
   border-image: url('images/border.png') 50 50 50 50 repeat;
   padding: 8px;

   #content {
      opacity: 0.7;
   }

   #header {
      display: flex;
      height: 110px;
      width: 300px;
      padding-left: 120px;
      font-family: @headerFontFamily;
      font-size: 32px;
      background-position: top left;
      background-repeat: no-repeat;
      background-image: url('images/emblem.png');


      div {
         margin: auto;
      }
   }
}