#farmWindow {
   position: absolute;
   left: 20px;
   top: 200px;

   #name {
      .controlFont;
      background: rgba(0,0,0,0.0);
      border: 0px;
      padding: 0px;
      margin: 0px;
      width: 100%;
   }

   .cropRotationSlot {
      background: red;
      padding: 10px;
      margin-right: 10px;
   }

   #addCropButton {
      clear: both;
   }
}

#cropPalette {
   position: absolute;
}
