#farmWindow {
   position: absolute;
   left: 20px;
   top: 200px;

   #name {
      .controlFont;
      background: rgba(0,0,0,0.0);
      border: 0px;
      padding: 0px;
      margin: 0px;
      width: 100%;
   }

   #cropRotation {
      position: relative;
      width: 320px;
      height: 80px;
   }
   
   .cropRotationSlot:nth-of-type(1) {
      top: 0px;
      left: 00px;
   }

   .cropRotationSlot:nth-of-type(2) {
      top: 0px;
      left: 80px;
   }

   .cropRotationSlot:nth-of-type(3) {
      top: 0px;
      left: 160px;
   }

   .cropRotationSlot:nth-of-type(4) {
      top: 0px;
      left: 240px;
   }

   .cropRotationSlot {
      position: absolute;
      display: flex;
      width: 68px;
      height: 68px;
   }

   .crop {
      background: url(./images/crop_rotation_slot.png);
   }

   #addCropButton {
      clear: both;
   }
}

#cropPalette {
   position: absolute;

   .cropPickerItem {

      .cropPickerImage {
         width: 100px;
         height: 100px;      
      }
   }
}
