.bulletinDialog {

   .window {
      position: absolute;
      right: 10px;
      top: 300px;
      width: 550px;
      height: 560px;
      max-height: 560px;
   }

   #scroll {
      .noOutline;
      position: relative;
      width: 560px;
      height: 420px;
      color: #000;
      margin-left: -4px;
      margin-top: 10px;
      margin-bottom: 10px;
      background: url(../../images/rhs_dialog_scroll.png);   

      #content {
         padding: 10px;
   
         #title {
            font-family: @controlFontFamily;
            text-align: center;
            font-size: 32px;
            padding-bottom: 15px;
         }
      }
   }
}
