.modeSign {
   .controlFont;
   margin: auto;
   position: relative;
   top: -8px;
   width: 606px;
   height: 129px;
   text-align: center;
   background-image: url(images/mode_sign_bg.png);
   font-size: 36px;

   .inner {
      padding-top: 56px;
   }
}