.modeSign {
   .controlFont;
   margin: auto;
   position: absolute;
   top: 0px;
   width: 100%;
   height: 129px;
   text-align: center;
   background-image: url(images/mode_sign_bg.png);
   background-position: center;
   background-repeat: no-repeat;
   font-size: 36px;

   .inner {
      padding-top: 56px;
   }
}