#zonesMode {
   width: 100%;
   border-width: 100px;
   border-image: url('images/border_no_lines.png') 50 50 50 50 repeat;
   padding: 8px;

   #header {
      font-family: @headerFontFamily;
      font-size: 40px;
      color: rgba(255, 255, 255, 0.8);
      position: absolute;
      left: 100px;
      bottom: 20px;
      opacity: 0.7;
      display: none;
   }
}