#resourceScoreboard {
   position: absolute;
   top: 10px;
   left: 10px;

   .row {

   }

   .icon {
      width: 32px;
      display: inline-block;
   }

   .value {
      .outlined;
      font-size: 22px;
      color: #fff;
      display: inline-block;
      position: relative;
      top: -8px;
      left: 8px;
   }
}
