
// Basic colors
// -------------------------
//@woodDarkestColor:      #1c1b1b;

.stone {
   background: url(images/stone/backgrounds/bg.png) repeat;
   border-width: 13px 13px 31px 13px;
   border-image: url(images/stone/backgrounds/slate.png) 13 13 31 13 repeat;
   padding: 0px;
   margin: 0px;
   color: #fff;

   b {
       color: @blackColor;
       font-weight: bold;
   }

   .frame {
      background: #3b352c;
      background-clip: content-box;
      border-width: 25px;
      border-image: url(images/stone/backgrounds/frame_border.png) 25 25 25 25 repeat;
   }
}

.simplestone {
   border-width: 8px 8px 20px 8px;
   border-image: url(images/stone/backgrounds/slate_simple.png) 8 8 20 8 repeat;
}
