.stone {
   background: #3b4146;
   border-width: 20px;
   border-image: url(images/stone/medium-frame.png) 15 15 15 15 repeat;
   padding: 0px;
   margin: 0px;
   text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.8);
   color: #9a9fa3;

   b {
   	 .outlined;
   	 color: @gold;
   }
}

.parchment {
	.textShadow;
	border: 2px solid #000;
	padding: 15px;
	color: #000;
	background: url(images/parchment/light.png);

	b {
		font-weight: bold;
	}
}
