
.stone {
   background: #3b4146;
   border-width: 20px;
   border-image: url(images/stone/medium-frame.png) 15 15 15 15 repeat;
   padding: 0px;
   margin: 0px;
   //text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.8);
   color: #9a9fa3;

   b {
   	 color: @blackColor;
       font-weight: bold;
   }

   button {
      background: #7e8994;
      border-width: 15px;
      border-image: url(images/button/button.png) 15 15 15 15 repeat;
      padding: 0px;
      margin: 0px;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
      color: @gold;

      &:hover { 
         color: @hoverColor;
      }
   }
}
