//
// Variables
// --------------------------------------------------
@import "fonts/berlin-sans/stylesheet.css";
@import "fonts/lemieszex/stylesheet.css";
@import "fonts/teen/stylesheet.css";

// Basic colors
// -------------------------
@goldColor:       		#ffc000;
@blackColor:       		#111111;


// Links
// -------------------------
@linkColor:             #ffc000;
@linkColorHover:        darken(@linkColor, 15%);

// Typography
// -------------------------
@baseFontFamily:		'teenregular';
@sansFontFamily:		Arial;
@serifFontFamily:		Georgia;
@monoFontFamily:		Monaco;
@headerFontFamily:		'Lemiesz';
@controlFontFamily:		'Lemiesz';

@baseFontSize:			18px;

@baseFontColor:			#111;
@headerFontColor:		#ffc000;


