#gameSpeed {
   position: absolute;
   bottom: -4px;
   right: 4px;
   display: flex;
   margin: auto;

   #controls {
      margin: auto;
      display: inline-block;

      div {
         .control;
         width: 35px;
         height: 35px;
         background-repeat: no-repeat;
         display: inline-block;
      }

   }

   #pauseButton.selected {
      background-image: url(./images/pause_selected.png);   
   }
   #pauseButton.unselected {
      background-image: url(./images/pause.png);   
   }

   #playButton.selected {
      background-image: url(./images/play_selected.png);   
   }
   #playButton.unselected {
      background-image: url(./images/play.png);   
   }

   #ffButton.selected {
      background-image: url(./images/fast_forward_selected.png);   
   }
   #ffButton.unselected {
      background-image: url(./images/fast_forward.png);   
   }

}