#gameSpeed {
   position: absolute;
   top: 144px;
   right: 28px;
   display: flex;
   width: 105px;

   #playPauseButton {
      .control;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      margin: auto;
   }

   #playPauseButton.showPause {
      background-image: url(./images/pause.png);   
   }

   #playPauseButton.showPlay {
      background-image: url(./images/play.png);
   }

}