#gameSpeed {
   position: absolute;
   top: 144px;
   right: 28px;
   display: flex;
   width: 105px;

   div {
      .control;
      width: 39px;
      height: 44px;
      background-repeat: no-repeat;
      margin: auto;
      float: left;
   }

   #pauseButton.selected {
      background-image: url(./images/pause_selected.png);   
   }
   #pauseButton.unselected {
      background-image: url(./images/pause.png);   
   }

   #playButton.selected {
      background-image: url(./images/play_selected.png);   
   }
   #playButton.unselected {
      background-image: url(./images/play.png);   
   }

   #ffButton.selected {
      background-image: url(./images/fast_forward_selected.png);   
   }
   #ffButton.unSelected {
      background-image: url(./images/fast_forward.png);   
   }

}