<!-- Material palette -->
<a href="#">
   <div class="sidebar-palette">
      <img src="/css/default/images/views/sidebar/palette-selected-box.png" />
      <img class="sidebar-selected-material" src="/css/default/images/materials/oak.png" />

      <div class="sidebar-material-name">
         Material: <span>Oak</span>
      </div>

      <div class="sidebar-palette-popup">
         <div class="sidebar-palette-popup-inner">
            <a class="sidebar-palette-popup-item" href="oak">
               <img src="/css/default/images/materials/oak.png" title="oak" /></a>
            <a class="sidebar-palette-popup-item" href="pine">
               <img src="/css/default/images/materials/pine.png" title="pine" /></a>
            <a class="sidebar-palette-popup-item" href="granite">
               <img src="/css/default/images/materials/granite.png" title="granite" /></a>
            <a class="sidebar-palette-popup-item" href="sandstone">
               <img src="/css/default/images/materials/sandstone.png" title="sandstone" /></a>
         </div>
      </div>

   </div>
</a>
