.sidebar-palette {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 372px;
   height: 100px;
   padding: 12px 0 0 20px;
   text-align: left;
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
   border-top: 1px solid rgba(255, 255, 255, 0.3);
}

   .sidebar-palette:hover {
      background: rgba(255, 255, 255, 0.1);
   }

   .sidebar-palette .sidebar-material-name {
      position: absolute;
      top: 50px;
      left: 120px;
      width: 220px;
      font-size: 20px;
   }

   .sidebar-palette .sidebar-palette-popup {
      position: absolute;
      padding: 20px 40px 20px 20px;
      bottom: -80px;
      left: 404px;
      width: 400px;
      height: 300px;
      background: url(/css/default/images/views/sidebar/popup-bg.png);
      background-repeat: no-repeat;
      display: none;
   }

.sidebar-selected-material {
   position: absolute;
   top: 16px;
   left: 26px;
}

.sidebar-material-palette-popup-inner {
   height: 240px;
   overflow-x: hidden;
   overflow-y: auto;
}

.sidebar-palette-popup-item img {
   width: 60px;
   height: 60px;
}
