#trappingGroundsWindow {
   position: absolute;
   left: 20px;
   top: 200px;
   width: 539px;

   #name {
      .controlFont;
      background: rgba(0,0,0,0.0);
      border: 0px;
      padding: 0px;
      margin: 0px;
      width: 100%;
   }

   #trapImage {
      content: url(images/trap.png);
      padding: 20px 0px;
   }
}
