#craftWindow.weaver {
   background: url('skin.png');

    .recipeLink {
      background-image: url('skin.png');
   }

   #craftButton {
      position: absolute;
      right: -24px;
      top: -50px;
      width: 124px;
      height: 141px;
      background: url('needles.png');     
   }
}