/*Move to a central file?*/
.ui-helper-hidden-accessible {
   display: none;
}

.ui-autocomplete {
   .woodthin;
   padding: 10px;
   max-height: 600px;
   width: 300px;
   /*TODO: handle scrolling*/
   z-index: 4;
   list-style-type: none;
   background: @woodDarkestColor;
}

/*TODO: make menus more beautiful!*/
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
   color:  @goldColor;
}

#craftWindow {
   top: -1000px;
   position: absolute;
   width: 840px;
   height: 1000px;
   background: url('images/skin.png');

   #shingle {
      .controlFont;
      position: absolute;
      top: 28px;
      left: 42px;
      width: 606px;
      height: 130px;

      #title {
         color: @controlFontColor;
         font-size: 32px;
         padding-left: 40px;
         padding-top: 15px;
      }

      #subtitle {
         font-size: 16px;
         color: @controlLightFontColor;
         display: block;
         height: 20px;
         margin-top: 4px;
         padding-left: 40px;
      }

      #closeButton {
         position: absolute;
         top: 20px;
         right: 20px;
         width: 25px;
         height: 27px;
         display: block;
         background: url('./images/close_button.png');
      }
   }

   #statusSign {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 175px;
      height: 128px;
      color: #fff;

      #message {
         position: absolute;
         top: 80px;
         left: 0px;
         right: 0px;
         display: table-cell;
         text-align: center;
         font-family: 'Lemiesz';
         font-size:30px;
      }

      &:hover {
         color: #ffc000;
      }
   }

   #statusSign.open {
      background: url('./images/sign_green.png');
      -webkit-transform: rotate(-4deg);      
   }

   #statusSign.closed {
      background: url('./images/sign_yellow.png');
      -webkit-transform: rotate(-4deg);      
   }
}

#craftingWindow {
   position: absolute;
   left: 44px;
   top: 136px;
   padding: 0px;
   margin: 0px;
   color: #fff;
   background: red;
   //background: url(images/wood/backgrounds/bg.png) repeat;
   //background-clip: content-box;
   //border-image: url(images/wood/backgrounds/slate.png) 15 21 60 21 repeat;
   //border-width: 15px 21px 60px 21px;


   #recipeList {
      position: absolute;
      top: 4px;
      left: 3px;
      width: 308px;
      height: 653px;
      padding: 0px;
      margin: 0px;
      background: rgba(255, 0, 0, 0.0);

      #searchBox {
         display: block;
         height: 45px;
         border-bottom: 0px;

         input {
            .baseFont;
            background: rgba(0,0,0,0.0);
            height: 25px;
            width: 275px;
            border-style: none;
            padding: 10px;
            color: white;
         }
      }

      #recipeAccordion {
         position: relative;
         top: 11px;
         left: 3px;

         a:hover {
            color:  @goldColor;
         }

         .recipeLink {
            display: block;
            margin-bottom: -15px;
         }
      }

      .ui-accordion {
         .ui-accordion-header {
            .control;
            background: url('./images/ui_accordion_header_bg.png');
            border: 0px;
            //border-width: 9px 12px 9px 12px;
            //border-image: url(images/wood/accordion/accordion_heading.png) 9 12 9 12 repeat;
            margin: 0 0 1px 0;
            line-height: 1.8em;
            padding-left: 8px;

         }

         h3 {
               font-weight: normal;
               letter-spacing: 0px;
               color: @controlLightFontColor !important;
         }

         .ui-accordion-content {
            padding-left: 8px;
            padding-top: 12px;
            a {
               color: #fff;
            }
         }
      }      
   }

   #details {
      .parchment;
      position: absolute;
      top: 0px;
      left: 330px;
      width: 435px;
      height: 580px;

      #portraitContainer {
         position: absolute;
         top: 90px;
         width: 430px;
         display: block;
         text-align: center;

         #portrait {
            width: auto;
            height: 200px;
         }
      }

      #ingredients {
         position: absolute;
         top: 320px;
         left: 30px;

         .wood {
            background: url('/stonehearth/data/images/crafting/recipe_sockets/wood.png');
         }
         .cloth {
            background: url('/stonehearth/data/images/crafting/recipe_sockets/cloth.png');
         }
      }

      #description {
         position: absolute;
         top: 360px;
         bottom: 45px;
         left: 30px;
         width: 360px;

         #usefulText {
            line-height: 18px;
         }

         #flavorText {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            font-size: 14px;
            text-align: center;
            font-style: italic;
         }
      }
   }

   #orderOptions {
      position: absolute;
      bottom: 0px;
      top: 578px;
      left: 340px;
      right: 14px;
      width: 410px;
      height: 70px;

      label, span {
         float: left;
      }

      .orderOptionControls {
         height: 35px;
         float: left;
      }

      .craftRadioButton {
         margin-top: -2px;
         float: left;
      }

      .numbersRow {
         width: 100px;
      }

      .craftNumericSelect {
         width: 40px;
         float: left;
         margin-top: 0px;
         margin-bottom: 0px;
      }

      .numericButton {
         margin-top: 5px;
         text-indent: -9999px;
         cursor: pointer;
         width: 12px;
         height: 23px;
         float: left;
         text-align: center;
         background: url('./images/right_arrow.png') no-repeat;
      }
      .dec {
         background: url('./images/left_arrow.png') no-repeat;
      }

      .rightText {
         margin-left: 5px;
      }

      #craftButton {
         position: absolute;
         right: 0px;
         top: -4px;

         img {
            content: url('./images/anvil.png');   
         }
         

         &:hover {
            background-color: #6a4312 !important;
         }
      }      
   }
}

#orderList {
   //background: red;
   padding-left: 12px;
   width: 160px;
   height: 700px;
   position: absolute;
   top: 0px;
   left: 758px;

   .inProgressOrder {
      background: url('./images/queue_active_bg.png');
   }

   .normalOrder {
      background: url('./images/queue_item_bg.png');
   }

   .hiddenOrder {
      display: none;
   }

   .orderListItem {
      position: relative;
      .controlFont;
      width: 144px;
      height: 153px;
      text-align: center;
      margin-bottom: 4px;

      .craftingLabel {
         color: white;
         position: relative;
         top: 90px;
         left: 5px;
         height: 0px;
         margin-bottom: 0px;
      }

      .invisible {
         visibility: hidden;
      }

      a {
         position: relative;
         top: -15px;
         display: block;

         img {
            width: 80px;
            height: auto;
         }
      }

      .amountLabel {
         font-size: 30px;
         position: absolute;
         text-align: right;
         right: 14px;
         bottom: 44px;
         width: 144px;
         display: block;
      }

      .deleteLabel {
         display: none;
         color: red;
      }

      .showDelete {
         display: block;
      }
   }

   #orderListUpBtn {
      position: absolute;
      top: -25px;
      left: 60px;

      img {
         content: url('./images/queue_up_arrow.png');
      }
   }

   #orderListDownBtn {
      position: absolute;
      top: 613px;
      left: 60px;

      img {
         content: url('./images/queue_down_arrow.png');
      }
   }

   #orders {
      height: 628px;
      max-height: 628px;
      overflow-y: scroll;
   }

   #orders::-webkit-scrollbar { width: 0 }

   #orderListControls {
      position: relative;
      background: url('./images/queue_control_bg.png');
      width: 150px;
      height: 250px;
      background-repeat: no-repeat;
      background-position: left top;

      #garbageButton {
         position: absolute;
         top: 8px;
         left: 0px;
         width: 140px;
         height: 60px;
         display: block;
         background: url('./images/trash_button.png');
         background-repeat:no-repeat;
         background-position:center center;
      }

      #garbageList {
         position: absolute;
         top: -20px;
         left: 0px;
         width: 140px;
         height: 100px;
      }

   }

}