
#craftingWindow {
	.stone;

	position: relative;
	padding-left: 12px;
	width: 600px;
	height: 400px;
	position: absolute;
	top: 40px;
	left: 10px;

	#recipeList {
		.smallFont;

		position: absolute;
		top: 60px;
		bottom:60px;
		left: 10px;
		width: 200px;

		padding: 4px;
		background: #ddd;
		border: 1px solid #bbb;
	}

	#details {
		.smallFont;

		position: absolute;
		top: 60px;
		left: 230px;
		right: 10px;
		bottom: 60px;

		padding: 8px;
		background: #fff;
		border: 1px solid #bbb;
	}

	#order {
		position: absolute;
		bottom: 10px;
		right: 10px;

		#craftButton {
			float: right;
			width: 120px;
		}
	}
}