#journalWindow {
   bottom: -1000px;
   position: absolute;
   width: 472px;
   height: 600px;
   background: url('images/paper.png');
}

#journalTitle {
   margin-top: 30px;
   margin-left: 80px;
   margin-right: 80px;
   text-align: center;
}

#journalEntries {
   position: absolute;
   width: 410px;
   height: 460px;
   overflow: auto;
   margin: 30px;
}