#newGame {
   .woodthick;
   position: absolute;
   top: 310px;
   left: 34px;
   width: 676px;
   height: 300px;

   .inner {
      padding: 10px;
   }
   
   #embarkButton {
      position: absolute;
      font-size: 24px;
      bottom: 0px;
      right: 10px;
      left: 10px;
   }
}