#startMenu {
   position: absolute;
   bottom: 8px;
   display: block;
   width: 100%;
   display: flex;
   pointer-events:none;

   div {
      pointer-events: auto;
   }

   #town_menu {
      border: 0px;
   }

   #bulletin_manager.active {
      content: url('/stonehearth/ui/game/start_menu/images/manage_bulletins_active.png');
   }
}

#dock {
   position: absolute;
   bottom: 0px;
   left: 0px;
   right: 0px;
   height: 38px;
   background: url(images/dock.png);
   background-repeat: repeat-x;
}