#startMenu {
   position: absolute;
   left: 804px;
   bottom: 20px;
   width: 312px;
   height: 100px;

   .dl-trigger {
      .handCursor;
      margin: 0 auto;
      background: url('images/shield.png');
      width: 212px;
      height: 119px;
   }

}
