#startMenu {
   position: absolute;
   left: 804px;
   bottom: 20px;
   width: 312px;
   height: 100px;

   .dl-trigger {
      .handCursor;
      margin: 0 auto;
      background: url('images/shield.png');
      width: 212px;
      height: 119px;
   }

}

.startMenuHoverIn {
   -webkit-animation: startMenuHoverIn 0.2s ease;
   -webkit-transform: scale(1.1,1.1);
}

.startMenuHoverOut {
   -webkit-animation: startMenuHoverOut 0.15s ease;
}

@-webkit-keyframes startMenuHoverIn {
   0% {
      -webkit-transform: scale(1,1);
   }
   100% {
      -webkit-transform: scale(1.1,1.1);
   }
}

@-webkit-keyframes startMenuHoverOut {
   0% {
      -webkit-transform: scale(1.1,1.1);
   }
   100% {
      -webkit-transform: scale(1,1);
   }
}


