.populationManager {

   .window {
      position: absolute;
      right: 10px;
      top: 300px;
      width: 550px;
      height: 560px;
      max-height: 560px;      
   }

   table {
      width: 100%;

      td:first-of-type {
         white-space: nowrap;
      }

      td {
         padding: 8px;
         vertical-align: top;
      }
   }

   #promoteButton {
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
   }

   #promoteWindow {
      display: none;
   }
}
