.managerWindow {

   .window {
      position: absolute;
      right: 10px;
      top: 300px;
      width: 550px;
      height: 560px;
      max-height: 560px;
   }

   .populationContainer {
      overflow-y: auto;
      height: 510px;
   }
}

.citizenTable {

   table {

      width: 100%;
      font-size: 12px;

      td:nth-child(1) {
         white-space: nowrap;
         width: 100%;
         padding-left: 40px;

         .name {
            font-size: 16px;
         }
      }

      td:nth-child(2) {
         .nobr;
         padding-top: 11px;
         width: 100%;
         text-align: right;

         a {
            color: #93ef26;
         }
      }

      td {
         position: relative;
         padding: 8px;
         vertical-align: top;
      }

      /*
      tr.row {
         &:hover {
            height: 70px;

            .toolbar {
               display: block;
            }
         }
      }
      */

      tr.row {
         .handCursor;
         transition: all 0.3s;
      }

      tr.row.selected {
         height: 70px;

         .toolbar {
            display: block;
         }
      }

      .banner {
         position: absolute;
         top: 4px;
         left: 0px;
      }

      .moveCameraButton {
      }

      .toolbar {
         position: relative;
         top: 4px;
         left: 0px;
         display: none;
         width: 10px;
         padding-top: 4px;
         z-index: 3;
      }
   }
}
