.managerWindow {

   .window {
      position: absolute;
      right: 10px;
      top: 300px;
      width: 550px;
      height: 560px;
      max-height: 560px;
   }

   .list {
      height: 450px;
   }

   #topToolbar {
      height: 50px;
      background: rgba(0,0,0,0.3);
   }
}

.citizenTable {

   table {

      width: 100%;
      font-size: 12px;

      td:nth-child(2) {
         white-space: nowrap;
         width: 100%;
      }

      td {
         padding: 8px;
         vertical-align: top;
      }

      .row {
         .handCursor;
      }

      .menuButton {
         position: relative;
         top: 12px;

         .toolbar {
            position: absolute;
            top: -8px;
            left: 32px;
            z-index: 99999;
            display: none;
            padding: 4px;
            padding-bottom: 100px;
            background: red;
            border: 3px solid #000;
            background-color: #554d3d;
            z-index: 3;

            button {
               .nobr;
               display: block;
               width: 100%;
               margin-bottom: 2px;

            }
         }

         &:hover {
            -webkit-filter: brightness(1.0) !important;
         }            
      }


      .menuButton.active {
         .toolbar {
            display: block;
         }
      }

      .banner {
         display: inline-block;
      }

      .name {
         display: inline-block;
         font-size: 16px;
         width: 230px;
      }

      .activity {
         .nobr;
         padding-bottom: 8px;         
         text-align: right;
         color: #93ef26;
         display: inline-block;
         width: 200px;
      }

      .job {
         font-size: 12px;
      }

      .moveCameraButton {
      }
   }
}
