#createCamp {
   position: absolute;
   bottom: 10px;
   left: 660px;
   width: 600px;
   height: 100px;
   background: rgba(0,0,0,0.6);

   #chooseCampLocationButton {
      position: absolute;
      bottom: 0;
      left: 10;
      right: 10;
   }
}