#createCamp {
   position: absolute;
   bottom: 0px;
   left: 537px;
   width: 846px;
   height: 293px;

   #scroll {
      position: absolute;
      top: 0;
      left: 0;
      width: 846px;
      height: 293px;
      background: url(./images/scroll_bg.png);
   }

   #banner {
      position: absolute;
      bottom: -22px;
      left: 0px;
      width: 204px;
      height: 300px;
      background: url(./images/banner.png);;
      text-align: center;
      vertical-align: middle;
      display: table;

      div {
         .controlFont;
         position: absolute;
         top: 130px;
         padding-left: 20px;
         padding-right: 20px;
         color: #89c3ff;
         font-size: 22px;
      }
   }

   #crate {
      .controlFont;
      position: absolute;
      bottom: -20px;
      right: 0px;
      width: 189px;
      height: 178px;
      text-align: center;
      background: url(./images/crate.png);
   
      div {
         .controlFont;
         position: absolute;
         top: 90px;
         padding-left: 20px;
         padding-right: 20px;
         color: #ba9c65;
         font-size: 22px;
         display: none;
      }
   }
}