<div id="unitframe">

   <div id="portrait"></div>

   <div id="centerBlock">
      <div id="name" class="thickOutlined">Illowin Farstrider</div>
      <div id="description" class="thickOutlined">Apprentice Worker</div>
      <div id="actionbar">
         <a id="ab0" keybind="actionbar_button0"></a><a id="ab1" keybind="actionbar_button1"></a><a id="ab2" keybind="actionbar_button2"></a><a id="ab3" keybind="actionbar_button3"></a><a id="ab4" keybind="actionbar_button4"></a>
      </div>
   </div>

</div>
