#expBar {
   margin-left: auto;
   margin-right: auto;
   margin-top: auto;
   margin-bottom: 7px;
   width: 546px;
   height: 14px;
   text-align: center;
   z-index: 99999;

   #expBarEmpty {
      width: 546px;
      height: 14px;
      margin-left: 8px;
      background: url(images/bar_empty.png);
   }

   #expBarFull {
      height: 14px;
      background: url(images/bar_full.png);
   }

   #textDisplay {
      .outlined;
      position: relative;
      top: -20px;
      font-family: @baseFontFamily;
      font-size: 14px;
      color: #fff;
      display: none;
   }
}
