#inventory {
   #contents {
      overflow-y: auto;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;

      .item {
         .arrowCursor;
         &:hover:not(.disabled) {
            -webkit-filter: brightness(1.0);
         }
      }
   }
}

.itemPalette {
   position: absolute;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   overflow-y: auto;
   overflow-x: hidden;

   .item {
      .button;
      position: relative;
      width: 72px;
      height: 72px;
      margin-right: 4px;
      display: inline-block;

      .image {
         width: 100%;
         height: auto;
      }

      .num {
         .controlFont;
         position: absolute;
         bottom: 0px;
         right: 4px;
         color: #fff;
      }

      .selectBox {
         position: absolute;
         top: 0px;
         left: 4px;
         display: none;
      }
   }

   .item.selected {
      .selectBox {
         display: block;
      }
   }
}


