#tipPopup {
   .blackBorder;
   position: absolute;
   right: 10px;
   bottom: 10px;
   width: 400px;
   height: 75px;
   background: rgba(0,0,0,0.7);
   padding: 13px 10px 10px 75px;
   color: #fff;

   #icon {
      position: absolute;
      top: 8px;
      left: 20px;
   }

   #title {
      .outlined;
      font-family: @controlFontFamily;
      color: #ffda10;
      font-size: 24px;
   }

   #description {
      .textShadow;
      position: absolute;
      bottom: 10px;
      font-style: italic;
      font-size: 12px;

   }
}