#partyEditor {
   position: absolute;
   left: 20px;
   top: 250px;
   width: 550px;
   height: 560px;

   .help {
      background-image: url(images/banner.png);
      background-position: left center;
      background-repeat: no-repeat;
      padding-left: 50px;
      vertical-align: middle;
   }

   .toolbar {
      padding: 10px 0px;
   }
}

#partyEditorEditRoster {
   position: absolute;
   left: 80px;
   top: 260px;
   width: 550px;
   height: 560px;
}
