#partyEditor {
   position: absolute;
   left: 20px;
   top: 200px;
   width: 550px;
   height: 560px;

   #name {
      .controlFont;
      background: rgba(0,0,0,0.0);
      border: 0px;
      padding: 0px;
      margin: 0px;
      width: 100%;
   }
}

#partyEditorEditRoster {
   position: absolute;
   left: 80px;
   top: 260px;
   width: 550px;
   height: 560px;
}
