
#unitframe {
	.wood;
	border-width: 10px 10px 20px 10px;
	width: 500px;
	height: 177px;
	position: absolute;
	bottom: 10px;
	left: 10px;

	.frame {
		.controlFont;
		width: 300px;
		height: 45px;
		text-align: center;
		font-size: 30px;
		line-height: 0.8em;
		position: absolute;
		right: 0px;

		.description {
			.smallFont;
			color: @controlFontColor2;
		}
	}
}