.populationManager {
   position: absolute;
   right: 10px;
   top: 300px;

   .window {
      width: 550px;
      height: 600px;
      max-height: 400px;      
   }

   table {
      td:first-of-type {
         white-space: nowrap;
      }

      td {
         padding: 8px;
         vertical-align: top;
      }
   }
}