<!-- navigation elements -->
<div id="sidebarNav">
   <a href="store" class="sidebarNav" keybind="sidebar_store">
      <img src="views/sidebar/images/tab-store.png" />
   </a>
   <a href="build" class="sidebarNav" keybind="sidebar_build">
      <img src="views/sidebar/images/tab-build.png" />
   </a>
   <a href="craft" class="sidebarNav">
      <img src="views/sidebar/images/tab-craft.png" />
   </a>
   <a href="mine" class="sidebarNav">
      <img src="views/sidebar/images/tab-mine.png" />
   </a>
   <a href="fight" class="sidebarNav">
      <img src="views/sidebar/images/tab-fight.png" />
   </a>
</div>


<div id="sidebar">
   <div id="sidebarTab-store" class="sidebarTab"></div>
   <div id="sidebarTab-build" class="sidebarTab"></div>
</div>
