#mainbar {

	position: absolute;
	bottom: 10px;
	right: 10px;

	.mainButton {
		float: right;
		width: auto;
		height: 64px;
		padding-right: 4px;
	}

	#help {
		position: absolute;
		right:0;
		bottom: 80px;
		width: auto;
	}

	#buttons {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 400px;
	}

	#newStockpileButton {
		content: url('/mods/mainbar/images/new_stockpile.png');
	}

	#newWorkshopButton {
		content: url('/mods/mainbar/images/new_workshop.png');
	}

	#newBuildingButton {
		content: url('/mods/mainbar/images/new_building.png');
	}

	#craftingMenu {
		.stone;
		.simplestone;

		position: absolute;
		width: 400px;
		bottom: 80px;
		right: 10px;

		button {
			float: right;
			margin: 4px;
			width: 100px;
			height: 80px;
			padding: 4px;
		}

	}

}