<div class="sidebar-tab-content" id="storeSidebar">

   <div id="help" class="parchment">
      <h1>How to store stuff</h1>
      Your workers will haul resources and crafted items into stockpiles for convenient storage.
      To make a stockpile, click that button down there then drag out a rectangle on the ground.
   </div>

   <a id="createStockpileButton" class="button" keybind="create_stockpile" href="#">New Stockpile</a>
   <input id="search" class="search" type="text" />
   <div id="list"></div>
   <div id="nav"></div>
</div>
