#stockpileWindow {
   position: absolute;
   left: 20px;
   top: 200px;
   width: 657px;
   height: 732px;
   background: url('./images/bg.png');

   #content {
      .controlFont;
      padding: 50px;
      text-align: center;
      font-size: 36px;

      #name {
         .controlFont;
         background: rgba(0,0,0,0.0);
         font-size: 42px;
         text-align: center;
         border: 0px;
         width: 550px;
      }

      .normal {
         text-shadow: none;
         color: #000;
      }

      #allNoneGrid {

         tr {
            height: 54px;
         }

         td {
            font-size: 22px;
            width: 110px;
         }
      }

      #taxonomyGrid {
         font-size: 22px;

         tr:nth-child(odd) {
            background: rgba(0,0,0,0.1);
         }

         td.group {
            text-align: right;
            width: auto;
            padding-right: 10px;
            padding-left: 10px;
         }

         tr {
            height: 54px;
         }

         td {
            width: 54px;
         }

         #wood {
            img {
               content: url('./images/taxonomy/wood.png');
            }
         }

         #stone {
            img {
               content: url('./images/taxonomy/stone.png');
            }
         }

         #ore {
            img {
               content: url('./images/taxonomy/ore.png');
            }
         }

         #animal_part {
            img {
               content: url('./images/taxonomy/animal_part.png');
            }
         }

         #portal {
            img {
               content: url('./images/taxonomy/portal.png');
            }
         }

         #furniture {
            img {
               content: url('./images/taxonomy/furniture.png');
            }
         }

         #defense {
            img {
               content: url('./images/taxonomy/defense.png');
            }
         }

         #light {
            img {
               content: url('./images/taxonomy/light.png');
            }
         }

         #decoration {
            img {
               content: url('./images/taxonomy/decoration.png');
            }
         }

         #refined_cloth {
            img {
               content: url('./images/taxonomy/refined_cloth.png');
            }
         }

         #refined_animal_part {
            img {
               content: url('./images/taxonomy/refined_animal_part.png');
            }
         }

         #refined_ore {
            img {
               content: url('./images/taxonomy/refined_ore.png');
            }
         }

         #melee_weapon {
            img {
               content: url('./images/taxonomy/melee_weapon.png');
            }
         }

         #ranged_weapon {
            img {
               content: url('./images/taxonomy/ranged_weapon.png');
            }
         }

         #light_armor {
            img {
               content: url('./images/taxonomy/light_armor.png');
            }
         }

         #heavy_armor {
            img {
               content: url('./images/taxonomy/heavy_armor.png');
            }
         }

         #exotic_gear {
            img {
               content: url('./images/taxonomy/exotic_gear.png');
            }
         }

         #fruit {
            img {
               content: url('./images/taxonomy/fruit.png');
            }
         }

         #baked {
            img {
               content: url('./images/taxonomy/baked.png');
            }
         }

         #meat {
            img {
               content: url('./images/taxonomy/meat.png');
            }
         }

         #drink {
            img {
               content: url('./images/taxonomy/drink.png');
            }
         }

         #gold {
            img {
               content: url('./images/taxonomy/gold.png');
            }
         }

         #gem {
            img {
               content: url('./images/taxonomy/gem.png');
            }
         }
      }
   }
}
