<div id="craftingWindow">
   <ul>
      <li><a href="#recipeTab">Recipes</a></li>
      <li><a href="#queueTab">Queue (3)</a></li>
   </ul>
   <div id="recipeTab" class="tab">

      <div id="recipeList">
         <input id="search" type="text" value="Search" autocomplete="off" class="search"/>
         <div id="accordion">
         </div>
      </div>

      <div id="scroll" class="wooden-frame">
         <div id="recipeName"></div>

         <div id="portraitContainer">
            <img id="recipePortrait" />
         </div>


         <div id="ingredients" class="section">
            ingredients
         </div>

         <table id="recipeBuffs">
            <!--
         <tr>
            <td class="buff-bubble">-2%</td>
            <td>Food effectiveness</td>
         </tr>
         <tr>
            <td class="buff-bubble">-2%</td>
            <td>Food effectiveness</td>
         </tr>
         -->
         </table>

         <div id="recipeDescription"></div>
      </div>
      <div id="workOrder" class="outlined">
         <div>
            <input type="radio" id="workOptionAmount" checked="checked" name="workOption" />
            <label for="workOptionAmount">Craft some now.</label>
            <input id="howManyInput" type="text" value="1" />
         </div>
         <div>
            <input type="radio" id="workOptionWhen" name="workOption" />
            <label for="workOptionWhen">Craft whenever stocks fall below</label>
            <input id="craftWhenInput" type="text" value="5" />
         </div>
         <a id="craftButton" class="ui-button-icon" href="#"><img src=views/craftingWindow/images/anvil.png />Craft!</a>
      </div>

   </div>
   <div id="queueTab" class="tab">
      <p>Drag an item to reorder the queue.</p>

      <ul id="sortable">
         <li class="ui-state-default" style="background-size: 250px 40px;"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Dining chair (6 of 10 complete)<span style="position: absolute; right: 45px; color: red;">x</span></li>
         <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Door (0 of 1 complete)<span style="position: absolute; right: 45px; color: red;">x</span></li>
         <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Fence (0 of 50 complete)<span style="position: absolute; right: 45px; color: red;">x</span></li>
      </ul>
   </div>
</div>
