
#craftingWindow {
   overflow: hidden;
   text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
   height: 760px;
}

   #craftingWindow h2 {
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   }

#craftingWindow #tab {
   height: 680px;
}

#craftingWindow #section {
   width: 380px;
}

#craftingWindow #recipeList {
   float: left;
   width: 260px;
   max-width: 260px;
   height: 550px;
   max-height: 740px;
}

#craftingWindow #search {
   width: 260px;
   color: #fff;
}

#craftingWindow #scroll {
   position: absolute;
   top: 70px;
   left: 280px;
   width: 410px;
   height: 480px;
}

#craftingWindow .recipeBuffs {
   
}

#craftingWindow #recipeName {
   font-family: 'Lemiesz';
   font-size: 20px;
   text-align: center;
   letter-spacing: -1px;
   margin-bottom: 5px;
   padding-top: 10px;
}

#craftingWindow #recipeDescription {
   text-align: center;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   font-style: italic;
}

#craftingWindow #portraitContainer {
   background: rgba(0, 0, 0, 0.15);
   -webkit-border-radius: 6px;
   border: 0px solid #000;
   margin: 0 10px;
   padding: 10px;
   width: 334px;
   text-align: center;
}

#craftingWindow #recipePortrait {
   height: 200px;
}

.buff-bubble {
   background: #000;
   color: #ffc000;
   padding-left: 8px;
   padding-right: 8px;
   padding-top: 4px;
   font-family: 'Lemiesz';
   font-size: 18px;
   float: right;
   text-align: center;
   -webkit-border-radius: 16px;
}

   .buff-bubble .buff-text {
      color: #66ff00;
   }

  .buff-bubble .debuff-text {
      color: #ff0000;
   }

#craftingWindow #recipeIngredients {
   width: 100%;
   margin-bottom: 10px;
}

   #craftingWindow #recipeIngredients td {
      width: 50%;
   }

   #craftingWindow #recipeIngredients img {
      vertical-align: middle;
      margin-right: 8px;
   }


#craftingWindow #queueTab ul li {
   background: green;
   background-repeat: no-repeat;
   background-size: 0px 0px;
   background-position: top left;
   color: #000;
   width: 520px;
   text-align: center;
   text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
}


#craftingWindow #ingredients {
   position: absolute;
   top: 260px;
   left: 0px;
}


#craftingWindow #workOrder {
   background: rgba(150, 169, 176, 0.3);
   position: absolute;
   top: 640px;
   left: 10px;
   right: 13px;
   padding: 10px;
   font-family: 'Lemiesz';
   color: #fff;
   height: 100px;
}

   #craftingWindow #workOrder #options-title {
      font-family: 'Lemiesz';
      color: #A3B0B4;
      font-size: 18px;
   }

#craftingWindow #howMany, #craftingWindow #craftWhen  {
   float: right;
   margin-right: 200px;
}

#craftingWindow #howManyInput {
   width: 50px;
   margin-left: 10px;
   text-align: center;
}

#craftingWindow #craftWhenInput {
   width: 50px;
   margin-left: 10px;
   text-align: center;
}

#craftingWindow #craftButton {
   position: absolute;
   right: 0px;
   top: 0px;
}


/*XXX- Add this stuff to the main style sheet*/

#sortable {
   list-style-type: none;
   margin: 0;
   padding: 0;
   width: 60%;
}

   #sortable li {
      margin: 0 3px 3px 3px;
      padding: 0.4em;
      padding-left: 1.5em;
      font-size: 1.4em;
      color: #000;
      height: 18px;
      -webkit-border-radius: 5px;
   }

      #sortable li span {
         position: absolute;
         margin-left: -1.3em;
      }

/*
 * Stonehearth List
 *
 */

ul.simple-list {
   padding: 0px;
   margin: 0px;
   list-style-type: none;
   overflow-x: hidden;
   overflow-y: auto;
}

   ul.simple-list li {
      height: 20px;
   }

      ul.simple-list li a {
         color: #fff;
         text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      }

      ul.simple-list li a:hover {
         color: #ffed8c;
         text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      }


      