#unitFrame {
   border-width: 10px 10px 20px 10px;
   width: 500px;
   height: 177px;
   position: absolute;
   bottom: 16px;
   left: 10px;

   .frame {
      width: 300px;
      height: 45px;
      line-height: 0.8em;
      position: absolute;
      right: 0px;

      .description {
         .smallFont;
         color: @controlLightFontColor;
      }
   }

   #info {
      .controlFont;
      font-size: 32px;
      line-height: 30px;

      position: absolute;
      left: 0px;
      bottom: 0px;
      height: 45px;
      //background: rgba(0,0,0,0.2);
      padding: 10px;


      .description {
         .smallFont;
         color: @controlLightFontColor;
      }
   }

   #commandButtons {
      position: absolute;
      //top: 104px;
      //left: 160px;
      bottom: 55px;
      left: 8px;
      width: 325px;
      //background: url('../unitframe/images/command_button_well.png');

      .commandButton {
         display: inline-block;
         width: 63px;
         height: 65px;
         background: url('/stonehearth_unit_frame/html/images/command_button_bg.png');
         border: 0px;

         .active {
            background: red !important;
         }

         img {

         }
      }

      .buttonEnabled {
         opacity: 1;
      }

      .buttonDisabled {
         opacity: 0.3;
      }

   }
}