/*Move to a central file?*/
.ui-helper-hidden-accessible {
   display: none;
}

.ui-autocomplete {
   .wood;
   padding: 10px;
   max-height: 600px;
   width: 300px;
   /*TODO: handle scrolling*/
   z-index: 4;
   list-style-type: none;
   background: @woodDarkestColor;
}

/*TODO: make menus more beautiful!*/
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
   color:  @goldColor;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0.0;
   background: #000;
   z-index: 1;
}

#craftingUI {
   top: -1000px;
   position: absolute;
   z-index: 2;

   #craftingShingle {
      position: relative;
      left: 40px;
      width: 606px;
      height: 130px;
      background: url('/stonehearth_crafter/html/images/crafter_shingle.png');
      background-repeat: no-repeat;
      z-index: 3;

      #shingleText {
         .outlined;
         color: @controlFontColor;
         font-size: 30px;
         padding-top: 32px;
         margin-left: 110px;

         small {
            font-size: 16px;
            color: @controlLightFontColor;
            font-weight: bold;
            display: block;
            height: 20px;
            margin-top: 8px;
         }
      }

      .classMarker {
         width:73px;
         height: 45px;
         float: left;
         margin-top: 55px;
         margin-left: 25px;
      }

      .closeButton {
         background: url('/stonehearth_crafter/html/images/close_button.png');
         width: 25px;
         height: 27px;
         display: block;
         float: right;
         margin-right: 17px;
         margin-top: 44px;
      }

      #statusSign {
         position: absolute;
         top: -10px;
         left: 760px;
         width: 175px;
         height: 128px;
         color: #fff;

         #message {
            position: absolute;
            top: 80px;
            left: 0px;
            right: 0px;
            display: table-cell;
            text-align: center;
            font-family: 'Lemiesz';
            font-size:30px;
         }

         &:hover {
            color: #ffc000;
         }

      }

      .open {
         background: url('/stonehearth_crafter/html/images/sign_green.png');
         -webkit-transform: rotate(-4deg);
      }

      .closed {
         background: url('/stonehearth_crafter/html/images/sign_yellow.png');
         -webkit-transform: rotate(4deg);
      }
   }
}

#craftingWindow {
   .wood;

   .ui-accordion-header {
      background: url('/stonehearth_crafter/html/images/ui_accordion_header_bg.png') !important;
   }

   position: relative;
   width: 790px;
   height: 680px;
   left: 0px;
   top: -15px;


   .frame {
      margin-left: 6px;
      width: 300px;
   }

   #recipeList {
      background: rgba(255, 0, 0, 0.1);
      position: absolute;
      top: 10px;
      left: 10px;
      width: 340px;
      bottom: 10px;

      padding: 0px;
      margin: 0px;

      #searchBox {
         display: block;
         height: 45px;
         .ui-lhs;
         border-bottom: 0px;

         input {
            background: @woodDarkestColor;
            height: 25px;
            width: 275px;
            border-style: none;
            padding: 10px;
            .baseFont;
            color: white;
         }

         #searchButton {
            display: block;
            width: 17px;
            height: 17px;
            float: right;
            margin-top:14px;
            margin-right:10px;
            background: url('/stonehearth_crafter/html/images/search_on_black.png');
            background-repeat: no-repeat;
            background-position: right center;
         }
      }

      #recipeAccordion {
         a:hover {
            color:  @goldColor;
         }

         .recipeLink {
            display: block;
            margin-bottom: -15px;
         }
      }
   }

   #details {
      .parchment;
      background: url('/stonehearth_crafter/html/images/recipe_scroll.png') no-repeat;
      position: absolute;
      top: 0px;
      left: 360px;
      width: 435px;
      height: 580px;

      #title {

      }

      #portrait {
         position: absolute;
         top: 90px;
         left: 20px;
         width: 380px;
         height: 200px;
         //background: rgba(0,0,0,0.1);
      }

      #description {
         position: absolute;
         bottom: 20px;
         left: 20px;
         width: 370px;
         height: 254px;

         #ingredients {
            display: inline-block;
            margin-top: -19px;
            background: #d1c096;

            .ingredientSocket {
               .handCursor;
               display: inline-block;
               position: relative;
               width: 62px;
               height: 62px;

               .count {
                  .outlined(#d1c096);
                  display: inline;
                  position: absolute;
                  right: 4px;
                  bottom: 2px;
                  font-size: 22px;
                  color: #908467;
               }
            }
         }

         #attributes {
            padding: 10px;
         }

         #usefulText {
            line-height: 18px;
         }

         #flavorText {
            margin-top: 20px;
            margin-left: 10px;
            margin-right: 10px;

            text-align: center;
            font-size: 12px;
            line-height: 14px;
            font-style: italic;
         }

      }
   }

   #orderOptions {
      label, span {
         float: left;
      }

      .orderOptionControls {
         height: 35px;
         float: left;
      }

      .craftRadioButton {
         margin-top: -2px;
         float: left;
      }

      .numbersRow {
         width: 100px;
      }

      .craftNumericSelect {
         width: 40px;
         float: left;
         margin-top: 0px;
         margin-bottom: 0px;
      }

      .numericButton {
         margin-top: 5px;
         text-indent: -9999px;
         cursor: pointer;
         width: 12px;
         height: 23px;
         float: left;
         text-align: center;
         background: url('/stonehearth_crafter/html/images/right_arrow.png') no-repeat;
      }
      .dec {
         background: url('/stonehearth_crafter/html/images/left_arrow.png') no-repeat;
      }

      .rightText {
         margin-left: 5px;
      }
   }



   #order {
      position: absolute;
      bottom: 0px;
      top: 595px;
      left: 370px;
      right: 14px;
      height: 70px;

      #craftButton {
         .goldButtonBorder;
         background-color: #706348;
         position: absolute;
         right: 0px;
         top: -4px;
         width: 105px;
         height: 88px;
         overflow: visible;

         &:hover {
            background-color: #6a4312 !important;
         }

         img {
            position: relative;
            left: -20px;
            top: -7px;
            width: 102px;
            max-width: 102px;
            height: auto;
         }
      }
   }
}

#orderList {
   //background: red;
   padding-left: 12px;
   width: 160px;
   height: 700px;
   position: absolute;
   top: 0px;
   left: 797px;

   .inProgressOrder {
      background: url('/stonehearth_crafter/html/images/queue_active_bg.png');
   }

   .normalOrder {
      background: url('/stonehearth_crafter/html/images/queue_item_bg.png');
   }

   .hiddenOrder {
      display: none;
   }

   .orderListItem {
      .controlFont;
      width: 144px;
      height:153px;
      text-align: center;
      margin-bottom: 4px;

      .craftingLabel {
         color: white;
         position: relative;
         top: 90px;
         left: 5px;
         height: 0px;
         margin-bottom: 0px;
      }

      .invisible {
         visibility: hidden;
      }

      a {
         position: relative;
         top: -15px;
         display: block;

         img {
            width: 80px;
            height: 80px;
         }
      }

      .amountLabel {
         font-size: 30px;
         position: relative;
         text-align: right;
         right: 25px;
         bottom: 43px;
         width: 144px;
         display: block;
      }

      .deleteLabel {
         display: none;
         color: red;
      }

      .showDelete {
         display: block;
      }
   }

   #orderListUpBtn {
      position: absolute;
      top: -25px;
      left: 60px;
   }

   #orderListDownBtn {
      position: absolute;
      top: 613px;
      left: 60px;
   }

   #orders {
      height: 628px;
      max-height: 628px;
      overflow-y: scroll;
   }

   #orders::-webkit-scrollbar { width: 0 }

   #orderListControls {
      position: relative;
      background: url('/stonehearth_crafter/html/images/queue_control_bg.png');
      width: 150px;
      height: 250px;
      background-repeat: no-repeat;
      background-position: left top;

      #garbageButton {
         position: absolute;
         top: 8px;
         left: 0px;
         width: 140px;
         height: 60px;
         display: block;
         background: url('/stonehearth_crafter/html/images/trash_button.png');
         background-repeat:no-repeat;
         background-position:center center;
      }

      #garbageList {
         position: absolute;
         top: -20px;
         left: 0px;
         width: 140px;
         height: 100px;
      }

   }

}