// common styles for all construction tools are in /ui/game/modes/build_mode/build_mode.less
#stonehearthMining {
   #overview {
      display: none;
   }

   #editor {
      .tools {
         #digDownTool {
            background-image: url(images/dig_down.png);
         }

         #digOutTool {
            background-image: url(images/dig_out.png);
         }
      }
   }
}