@baseColor:  #111;
@gold:       #ffc000;
@hoverColor: #ffe744;

.baseFont {
	color: @baseFontColor;
	font-family: @baseFontFamily;
	font-size: @baseFontSize;
	letter-spacing: 0px;
  //line-height: 1.1em;
}

.boldFont {
	color: #000;
	font-weight: normal;
}

.controlFont {
	.outlined;
	color: @controlFontColor;
	font-size: @controlFontSize;
	font-family: @controlFontFamily;
	//letter-spacing: -1px;

	a {
		color: @controlFontColor;

    &:hover {
      color: @hoverColor;
    };
	}
}

.scriptFont {
  font-family: @scriptFontFamily;
  font-size: 60px;
  font-weight: bold;
}

.nobr { white-space:nowrap; }

.infoPopup {
   margin: auto;
   margin-top: 80px;
}

.inlineBlock {
  display: inline-block;
}

.smallFont {
	font-size: .7em;
}

.noOutline {
	text-shadow: none;
}

.outlined (@color: #000) {
   text-shadow: -2px -2px 0px @color, 0px -2px 0px @color, 2px -2px 0px @color, -2px 0px 0px @color, 2px 0px 0px @color, -2px 2px 0px @color, 0px 2px 0px @color, 2px 2px 0px @color;
}

.thickOutlined {
  text-shadow: -3px -3px 0px #000, 0px -3px 0px #000, 3px -3px 0px #000, -3px 0px 0px #000, 3px 0px 0px #000, -3px 3px 0px #000, 0px 3px 0px #000, 3px 3px 0px #000;
}

.textShadow {
   text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.boxShadow {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.handCursor {
	cursor: url('images/cursors/Finalhand.cur'), default; 
}

.arrowCursor {
  cursor: url('images/cursors/arrow.cur'), default; 
}

.blackBorder {
	border: 3px solid #000;
}

.flex {
  display: flex;
}

.fullScreen {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.control {
	.handCursor !important;
	.controlFont;
}

.hotkey {
  .outlined;
  font-family: @baseFontFamily;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}


body {
	.baseFont;
  .arrowCursor;
   background: transparent;
	-webkit-user-select: none;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

b {
	.boldFont;
}

a {
	text-decoration: none;
	&:hover { 
		.handCursor;
		color: @hoverColor;
		text-decoration: none;
	}
}


h1, h2, h3, h4 {
	.outlined;
	font-family: @headerFontFamily;
	font-weight: normal;
	color: @goldColor;
}

h1 {
	margin: 4px;
}

.ui-progressbar {
   background: #403c33;
   height: 20px;
   text-align: left;
   overflow: hidden;
}

.ui-progressbar .ui-progressbar-value {
   margin: 0px;
   height: 100%;
   background: #3c51bc;
   border-width: 5px 5px 10px 5px;
   border-image: url(images/progressbar/meter.png) 5 5 10 5 repeat;
}

.ui-progressbar .ui-progressbar-overlay {
  background: url("images/animated-overlay.gif");
  height: 100%;
  filter: alpha(opacity=25);
  opacity: 0.25;
}
.ui-progressbar-indeterminate .ui-progressbar-value {
  background-image: none;
}

table.settings {
   width: 100%;
   border-collapse:collapse;

   td {
      vertical-align: top;
      padding: 4px;
   }

   td:first-of-type {
   }

   td:nth-of-type(2) {
      .outlined;
      color: #fff;
      text-align: right;
   }

   tr:nth-child(even) {
      background: rgba(0,0,0,0.1);
   }
}

.nobr { 
   white-space:nowrap; 
}

.modeBackground {

}

ul {
  list-style-type: square;
}

.stonehearth-view {
  pointer-events: none;

  div:not(.stonehearth-view) {
    pointer-events: auto;
  }
}

.numericInput {
  float: left;
  width: 60px;
}

.numericButton {
   margin-top: 5px;
   text-indent: -9999px;
   cursor: pointer;
   width: 12px;
   height: 23px;
   float: left;
   text-align: center;
   background: url(images/numeric/right_arrow.png) no-repeat;
}

.numericButton.dec {
   background: url(images/numeric/left_arrow.png) no-repeat;
}

.resetAllCss {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}