.book {
   width: 753px;
   height: 550px;
   background: url(images/book/cover.png);
   
   .page {
      width:350px;
      height:500px;

      .handCursor;
      text-shadow: none;
      color: #000;

      div {
         overflow-y: auto;
      }
   }

   .even {
      background: url(images/book/page_left.png);

      div {
         margin: 30px 20px 40px 60px;
         max-height: 460px;
      }
   }

   .odd {
      background: url(images/book/page_right.png);

      div {
         margin: 30px 50px 40px 40px;
         max-height: 460px;
      }

   }   
}
p