.gui {
   .outlined;
   font-family: @baseFontFamily;
   font-size: 14px;
   color: #fff;
   
   .window {
      background-color: #312f2f;
      border-width: 9px 9px 13px 9px;
      border-image: url(images/gui/panel.png) 9 9 13 9 repeat;
      padding: 10px;
      margin: 0px;
      text-align: left;
   }

   .title {
      .controlFont;
      margin: -10px -10px 0px -10px;
      padding: 10px;
      background-color: #6c6045;
      border-width: 9px 9px 13px 9px;
      border-image: url(images/gui/title.png) 9 9 13 9 repeat;
   }

   h2 {
      color: #bda66b;
      font-size: 18px;
   }

   button {
      .control;
      .outlined(#9da8b0);
      color: #000;
      background: #7e8994;
      background-position: center;
      background-repeat: no-repeat;
      border-width: 9px 9px 13px 9px;
      border-image: url(images/gui/button.png) 9 9 13 9 repeat;
      padding: 10px;
      margin: 0px;

      &:hover {
         .outlined(#b4b495);
         background-color: #9e9e82;
         border-image: url(images/gui/button_hover.png) 9 9 13 9 repeat;
      };
   }

   button.warn {
      .outlined(#cd4848);
      background: #b33131;
      border-image: url(images/gui/button_warn.png) 9 9 13 9 repeat;

      &:hover {
         .outlined(#fc5050);
         background: #f93030;
         border-image: url(images/gui/button_warn_hover.png) 9 9 13 9 repeat;
      };
   }

   button.ok {
      float: right;
      background-image: url(images/gui/ok_check.png);
      height: 66px;
      width: 60px;
      background-color: #31b349;
      border-image: url(images/gui/button_ok.png) 9 9 13 9 repeat;

      &:hover {
         .outlined(#2dd85c);
         background-color: #1ec63d;
         border-image: url(images/gui/button_ok_hover.png) 9 9 13 9 repeat;
      };
   }

   button.plus {
      background-image: url(images/gui/button_plus.png);
      height: 66px;
      width: 60px;
   }

   button.dropdown {
      background-image: url(images/gui/button_dropdown.png);
      height: 66px;
      width: 60px;
   }

   label {
      font-family: @baseFontFamily;
      font-size: 14px;
      color: #fff;
   }
}

::-webkit-scrollbar {
   width: 16px;
   height: 16px;
}
::-webkit-scrollbar-track {
   background-color: rgba(0,0,0,0.4);
   -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
   background: #322f28;
   border: 2px solid #000;
   -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
   background: #403b30;
}

::-webkit-scrollbar-thumb:horizontal {
   background: #322f28;
   border: 2px solid #000;
   -webkit-border-radius: 0px;
}
