.gui {
   .outlined;
   font-family: @baseFontFamily;
   font-size: 14px;
   color: #fff;
   
   .window {
      background-color: #312f2f;
      border-width: 9px 9px 13px 9px;
      border-image: url(images/gui/panel.png) 9 9 13 9 repeat;
      padding: 20px;
      margin: 0px;
   }

   .title {
      .controlFont;
      margin: -20px -20px 0px -20px;
      padding: 10px;
      background-color: #6c6045;
      border-width: 9px 9px 13px 9px;
      border-image: url(images/gui/title.png) 9 9 13 9 repeat;
   }

   button {
      .control;
      .outlined(#9da8b0);
      color: #000;
      background: #7e8994;
      border-width: 9px 9px 13px 9px;
      border-image: url(images/gui/button.png) 9 9 13 9 repeat;
      padding: 10px;
      margin: 0px;

      &:hover {
         .outlined(#b4b495);
         background: #9e9e82;
         border-image: url(images/gui/button_hover.png) 9 9 13 9 repeat;
      };
   }

   button.warn {
      .outlined(#cd4848);
      background: #b33131;
      border-image: url(images/gui/button_warn.png) 9 9 13 9 repeat;

      &:hover {
         .outlined(#fc5050);
         background: #f93030;
         border-image: url(images/gui/button_warn_hover.png) 9 9 13 9 repeat;
      };
   }

   label {
      font-family: @baseFontFamily;
      font-size: 14px;
      color: #fff;
   }

}