.gui {
   .outlined;
   font-family: @baseFontFamily;
   font-size: 14px;
   color: #fff;
   
   .window {
      background-color: #312f2f;
      border-width: 9px 9px 13px 9px;
      border-image: url(images/gui/panel.png) 9 9 13 9 repeat;
      padding: 10px;
      margin: 0px;
      text-align: left;
   }

   .title {
      .controlFont;
      position: relative;
      margin: -10px -10px 0px -10px;
      padding: 10px;
      background-color: #6c6045;
      border-width: 9px 9px 13px 9px;
      border-image: url(images/gui/title.png) 9 9 13 9 repeat;

      .closeButton {
         .control;
         position: absolute;
         right: 5px;
         top: 5px;
         width: 33px;
         height: 33px;
         background: url(images/gui/close_button.png);
      }
   }

   .flatTitle {
      .controlFont;
      margin: -18px -18px 8px -18px;
      padding: 6px;
      background-color: #252424;
      border-width: 9px 9px 1px 9px;
      font-size: 16px;
      border-image: url(images/gui/flatTitle.png) 9 9 1 9 repeat;
   }

   h1 {
      color: #a8935d;
      font-size: 22px;
   }

   h2 {
      color: #a8935d;
      font-size: 18px;
      margin-bottom: 4px;
   }

   button {
      .control;
      .outlined(#9da8b0);
      color: #000;
      background: #7e8994;
      background-position: center;
      background-repeat: no-repeat;
      border-width: 9px 9px 13px 9px;
      border-image: url(images/gui/button.png) 9 9 13 9 repeat;
      padding: 10px;
      margin: 0px;

      &:hover:not(.disabled) {
         -webkit-filter: brightness(1.4);
      }
   }

   button.warn {
      .outlined(#cd4848);
      background: #b33131;
      border-image: url(images/gui/button_warn.png) 9 9 13 9 repeat;
   }

   button.ok {
      .outlined(#41c565);
      float: right;
      background-image: url(images/gui/ok_check.png);
      height: 66px;
      width: 60px;
      background-color: #31b349;
      border-image: url(images/gui/button_ok.png) 9 9 13 9 repeat;

   }

   button.back {
      position: absolute;
      bottom: 10px;
      left: 10px;
   }

   button.plus {
      background-image: url(images/gui/button_plus.png);
      height: 66px;
      width: 60px;
   }

   button.dropdown {
      background-image: url(images/gui/button_dropdown.png);
      height: 66px;
      width: 60px;
   }

   label {
      font-family: @baseFontFamily;
      font-size: 14px;
      color: #fff;
   }

   table {
      border-collapse: collapse;
   }

   .list {      
      .row {
         &:hover {
            background: rgba(143, 120, 70, 0.3);
         }
      }

      .row.selected {
         background: rgba(143, 120, 70, 1.0);
      }
   }

   .tool {
      .control;
      &:hover {
         background-color: #6c6045;
      }
   }

   .disabled {
      opacity: 0.5;

      &:hover {

      }
   }

// flat windows
   .window.flat {
      background-color: #252424;
      border-image: url(images/gui/panel.flat.png) 9 9 13 9 repeat;  
      .title {
         font-size: 18px;
         background-color: #252424;
         border-image: none;
      }
   }

}

::-webkit-scrollbar {
   width: 16px;
   height: 16px;
}
::-webkit-scrollbar-track {
   background-color: rgba(0,0,0,0.4);
   -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
   background: #322f28;
   border: 2px solid #000;
   -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
   background: #403b30;
}

::-webkit-scrollbar-thumb:horizontal {
   background: #322f28;
   border: 2px solid #000;
   -webkit-border-radius: 0px;
}
