.itemPalette {
   .item {
      .button;
      position: relative;
      width: 60px;
      height: 60px;
      padding: 2px;
      border-width: 7px 7px 10px 7px;
      border-image: url(images/item_palette/item_border.png) 7 7 10 7 repeat;
      background-color: #000;
      float: left;

      .image {
         width: 100%;
         height: auto;
      }

      .num {
         .controlFont;
         position: absolute;
         bottom: 0px;
         right: 4px;
         z-index: 4;
         color: #fff;
      }
   }

   .placementDiv {
      margin-top: 40px;
      text-align: center;
   }
}