.toggleGrid {

   td.toggleButton {
      .handCursor;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      text-align: center;

      img {
         vertical-align: middle;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.4);
      }
   }

   td.on {
      background: #8fc7dc !important;
   }
}
