//
// Variables
// --------------------------------------------------
@import "fonts/berlin-sans/stylesheet.css";
@import "fonts/lemieszex/stylesheet.css";
@import "fonts/teen/stylesheet.css";
@import "fonts/palamecia/stylesheet.css";
@import "fonts/autourone/stylesheet.css";
@import "fonts/blackbeard/stylesheet.css";
@import "fonts/grobold/stylesheet.css";


// Basic colors
// -------------------------
@goldColor:             #ffc000;
@blackColor:            #111111;


// Links
// -------------------------
@linkColor:             #ffc000;
@linkColorHover:        darken(@linkColor, 15%);

// Typography
// -------------------------
//@baseFontFamily:      'BerlinSansFB';
@baseFontFamily:        'AutourOneRegular';
@sansFontFamily:        Arial;
@serifFontFamily:       'AutourOneRegular';
@monoFontFamily:        Monaco;
@headerFontFamily:      'palameciaregular';
//@controlFontFamily:     'palameciaregular'; 
@controlFontFamily:     'groboldregular';
@parchmentFontFamily:   'blackbeardregular';
@baseFontSize:          18px;
@controlFontSize:       20px;

@baseFontColor:         #111;
@controlFontColor:      #ffc000;
@controlLightFontColor: #ffe156;
@headerFontColor:       #ffc000;
