//
// Variables
// --------------------------------------------------
@import "fonts/autourone/stylesheet.css";
@import "fonts/grobold/stylesheet.css";
@import "fonts/munro/stylesheet.css";
@import "fonts/consolas/stylesheet.css";
@import "fonts/lemieszex/stylesheet.css";


// Basic colors
// -------------------------
@goldColor:             #ffc000;
@blackColor:            #111111;


// Links
// -------------------------
@linkColor:             #ffc000;
@linkColorHover:        darken(@linkColor, 15%);

// Typography
// -------------------------
//@baseFontFamily:      'BerlinSansFB';
@baseFontFamily:        'AutourOneRegular';
@serifFontFamily:       'AutourOneRegular';
@debugFontFamily:       'consolasregular';
@headerFontFamily:      'groboldregular';
@controlFontFamily:     'groboldregular';
@baseFontSize:          18px;
@controlFontSize:       20px;

@baseFontColor:         #111;
@controlFontColor:      #ffc000;
@controlLightFontColor: #ffe156;
@headerFontColor:       #ffc000;
