#stoneheartTerrainVision {
   position: absolute;
   bottom: 55px;
   right: 450px;

   #visionButton {
      .control;
      position: absolute;
      right: 0px;
      width: 50px;
      height: 50px;
      background-repeat: no-repeat;
      background-size: 50px 50px;
      background-image: url(./images/normal.png);
   }

   #visionButton.normal {
      background-image: url(./images/normal.png);  
   }

   #visionButton.clip {
      background-image: url(./images/clip.png);  
   }

   #palette {
      position: absolute;
      top: -120px;
      left: -65px;
      text-align: center;
      padding: 4px;
      background: rgba(0,0,0,0.5);
      height: -150px;
      display: none;

      .button {
         .button;
         width: 70px;
         height: 31px;
      }

      #depth {
         .controlFont;
         padding: 10px 0px 10px 0px;
         width: 70px;
         font-size: 22px;
         color: #ff7200;
         background: #000;
         vertical-align: middle;
      }

      #clipUp {
         background: url(./images/clip_up.png);
      }

      #clipDown {
         background: url(./images/clip_down.png);
      }
   }
} 