#buildingDesignerTools {
   position: absolute;
   left: 10px;
   top: 10px;
   
   width: 420px;
   //height: 420px;

   #toolbar {
      margin-bottom: 10px;
      .tabButton {
         .control;
         .button;
         position: relative;
         width: 54px;
         height: 60px;
         display: inline-block;
         text-align: center;
         color: #87764f;
         margin-right: 8px;
         margin-top: 12px;

         &:hover {
            color: #ffc000;
         }

         .label {
            position: absolute;
            bottom: -5px;
            font-size: 13px;
            text-align: center;
            width: 54px;
         }
      }

      .disabled {
         opacity: 0.15;
      }

      .floorTool {
         background-image: url(images/build_floor.png);
      }

      .fillWallTool {
         background-image: url(images/build_walls.png);
      }

      .roofTool {
         background-image: url(images/build_roof.png);
      }

      .doorTool {
         background-image: url(images/build_portal.png);
      }
      .editTool {
         background-image: url(images/edit.png);
      }
   }

   .tabPage {       
      display: none;
      width: 384px;
      height: 480px;
      padding: 0 16px 8px 16px;
      margin-bottom: 8px;
      font-size: 12px;

      border: 2px solid #000;
      background-color: #443f33;
   }

   .brushPalette {
      img.selected {
         border-color: #ffc000;            
      }

      img {
         .button;
         width: 48px;
         height: 48px;
         border: 2px solid #000;
         background-color: rgba(0,0,0,0.8);
      }

      img.small {
         width: 36px;
         height: 36px;
      }

      img.noBorder {
         border: 2px solid rgba(0,0,0,0);
         background-color: rgba(0,0,0,0.0);
      }
   }

   .doodadPalette {
      overflow-y: auto;
      max-height: 450px;
   }

}

#selectedBuildingWindow {
   position: absolute;
   left: 10px;
   top: 680px;
   width: 420px;
   display: none;
}