<div id="character-sheet">
   <div id="character-sheet-left">


      <div id="character-sheet-parchment">
      </div>
      <div id="character-sheet-stats-frame" class="wooden-frame"></div>
      <div id="character-sheet-info">
         <div id="character-sheet-info-header">
            <div id="character-sheet-name" class="outlined"></div>
            <div id="character-sheet-job"></div>
         </div>
         <!-- Stats and Equipment -->
         <div id="character-sheet-page-main">

            <div id="character-sheet-stats">
               <h1 class="outlined">Attributes</h1>
               <table>
               </table>
            </div>
            <div id="character-sheet-combat-stats">
               <h1 class="outlined">Combat Stats</h1>
               <table>
               </table>
            </div>
            <div style="clear: both;"></div>

            <div id="character-sheet-equipment">
               <h1 class="outlined">Equipment</h1>
               <table class="character-sheet-item-table">
               </table>
            </div>

            <div id="character-sheet-backpack">
               <h1 class="outlined">Backpack</h1>
               <table class="character-sheet-item-table">
               </table>
            </div>
            <div style="clear: both;"></div>
         </div>

         <!-- Vitals -->
         <div id="character-sheet-page-vitals" class="character-sheet-page" >
            <h1 class="outlined">Vital Stats</h1>
            <div>
               vitals go here
            </div>
            <h1 class="outlined">Conditions</h1>
            <div>
               Hungry, thirsty, sleepy, poisoned, whatever
            </div>
         </div>

         <!-- Biography -->
         <div id="character-sheet-page-bio" class="character-sheet-page" >
            <h1 class="outlined">Biography</h1>
            <div>
               Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </div>
         </div>

         <!-- Journal -->
         <div id="character-sheet-page-journal" class="character-sheet-page" >
            <h1 class="outlined">Journal</h1>
            <div>
               <p>ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
               <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            </div>
         </div>

      </div>



      <!--
      <h1>Biography</h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      -->

   </div>
   <div id="character-sheet-right">
      <div id="character-sheet-portrait-bg">
         <img id="character-sheet-portrait" src="/images/portraits/worker.png" />
      </div>

      <div id="character-sheet-buttons">
         <a id="character-sheet-promote-button" href="#" class="button">Change class!</a>


         <p>
            <div id="character-sheet-more-info">More Info</div>
            <a id="character-sheet-equipment-button" href="#" class="button">Equipment</a>
            <a id="character-sheet-vitals-button" href="#" class="button">Vital Stats</a>
            <a id="character-sheet-bio-button" href="#" class="button">Biography</a>
            <a id="character-sheet-journal-button" href="#" class="button">Journal</a>
         </p>
      </div>
   </div>
   <div style="clear: both"></div>
</div>
