#character-sheet {
}


#character-sheet-info {
   position: absolute;
   top: 10px;
   left: 10px;
   margin-top: 20px;
   margin-left: 18px;
   width: 409px;
   height: 500px;
   font-weight: normal;
}

#character-sheet-parchment {
   background: url(images/parchment.png);
   position: absolute;
   top: 20px;
   left: 20px;
   width: 430px;
   height: 520px;
}

#character-sheet-stats-frame {
   position: absolute;
   top: 10px;
   left: 10px;
   width: 450px;
   height: 540px;
}

#character-sheet h1 {
   font-size: 18px;
   color: #fff;
   background: rgba(0, 0, 0, 0.4);
   padding: 4px;
}

#character-sheet table {
   margin-bottom: 10px;
}

#character-sheet-right {
   position: absolute;
   top: 30px;
   left: 500px;
}

#character-sheet-info-header {
   padding-top: 4px;
   text-align: center;
   font-family: 'Lemiesz';
}

#character-sheet-name {
   font-size: 24px;
   color: #ffed8c;
   padding-bottom: 3px;
}

#character-sheet-job {
   font-size: 18px;
   color: #4b4b4b;
   padding-bottom: 3px;
}

#character-sheet-job {
   font-family: 'Lemiesz';
   letter-spacing: -2px;
   font-size: 18px;
   margin-bottom: 10px;
}


.character-sheet-page {
   position: relative;
   top: -5px;
   height: 425px;
}

.character-sheet-page div {
   padding: 10px;
}


#character-sheet-stats {
   position: relative;
   top: -5px;
   float: left;
   font-size: 18px;
   width: 200px;
}

#character-sheet-combat-stats {
   position: relative;
   top: -5px;
   margin-left: 200px;
}

.character-sheet-stat-name {
   //font-size: 18px;
   //font-weight: normal;
   text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
   vertical-align: middle;
   margin-left: 10px;
   width: 100px;
   float: left;
}

   .character-sheet-stat-name img {
      width: 16px;
      height: 16px;
      margin-right: 6px;
      margin-left: 6px;
      vertical-align: middle;
   }

 /* XXX, move this to the main stylesheet */
.character-sheet-stat-value { 
   background: #000;
   color: #31beff;
   padding-left: 8px;
   padding-right: 8px;
   padding-top: 4px;
   font-family: 'Lemiesz';
   font-size: 18px;
   float: right;
   text-align: center;
   -webkit-border-radius: 16px;
}

#character-sheet-equipment {
   float: left;
   width: 200px;
   margin-bottom: 10px;
}

#character-sheet-backpack {
   margin-left: 200px;
   margin-bottom: 10px;
}

.character-sheet-item-table {
   border-collapse: separate;
   border-spacing: 4px;
}

.character-sheet-equipment-row {
}

.character-sheet-equipment-slot {
   width: 40px;
   height: 40px;
   background: url(/images/icons/equipment-slot-empty.png) no-repeat;
   -webkit-border-radius: 3px;
}

   .character-sheet-equipment-slot img {
      position: relative;
      top: -1px;
      left: -1px;
      border: 2px solid #000;
      width: 36px;
      height: 36px;
      -webkit-border-radius: 3px;
   }

.character-sheet-equipment-name {
   color: #000;
   font-size: 16px;
   font-weight: normal;
   //text-shadow: -1px -1px 1px #fff, 1px -1px 1px #fff, 1px 1px 1px #fff, -1px 1px 1px #fff, 3px 3px 0px rgba(0, 0, 0, 0.2);
   text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
   vertical-align: middle;
   margin-left: 10px;
}

#character-sheet-portrait-bg {
   width: 204px;
   height: 241px;
   background-image: url(images/portrait-bg.png);
   border: 0px;
   margin-bottom: 10px;
}

#character-sheet-portrait {
}

#character-sheet-more-info {
   font-family: 'Lemiesz';
   font-size: 18px;
   margin-left: 38px;
   color: rgba(0, 0, 0, 0.5);
   text-shadow: 1px 1px 0px #939da0, -1px -1px 0px #3f464a;
   padding: 4px;
}

#character-sheet-buttons .button {
   width: 200px;
}

#character-sheet-page-journal {
   overflow-x: hidden;
   overflow-y: auto;
}