#bulletinListWidget {
   .control;
   position: absolute;
   bottom: 10px;
   right: 530px;
   width: 42px;
   height: 42px;
   background-repeat: no-repeat;
   background-image: url(./images/icon.png);
}