#titlescreen {
   //background: #529864;
   background: url(./images/background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   text-align: center;

   #menubar {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      height: 45px;
      background: #000;

      a {
         font-family: @controlFontFamily;
         font-size: 20px;
         float: right;
         color: #919191;
         padding: 14px 10px 10px 10px;
      }
   }

   #logo {
      content: url(./images/stonehearth_logo.png);
      width: 40%;
      padding-top: 60px
   }

   #controls {
      position: absolute;
      width: 100%;
      bottom: 100px;

      .control {
         .outlined;
         width: 702px;
         height: 57px;
         font-size: 34px;
         margin: 0 auto;
         background: url(./images/button_bg.png);
         text-align: center;
         vertical-align: middle;
         padding-top: 14px;

         &:hover {
            color: @hoverColor;
         };

      }
   }
}